.adopt {
  background-color: #fff7f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.adopt .div {
  background-color: #fff7f0;
  overflow: hidden;
  width: 1440px;
  height: 2882px;
  position: relative;
}

.adopt .overlap {
  position: absolute;
  width: 2290px;
  height: 2731px;
  top: 249px;
  left: -370px;
}

.adopt .overlap-group {
  position: absolute;
  width: 2290px;
  height: 2731px;
  top: 0;
  left: 0;
}

.adopt .shape {
  position: absolute;
  width: 2290px;
  height: 681px;
  top: 2050px;
  left: 0;
}

.adopt .footer {
  position: absolute;
  width: 2290px;
  height: 681px;
  top: 1963px;
  left: 0;
  background-color: transparent;
}

.adopt .text-wrapper {
  position: absolute;
  top: 603px;
  left: 824px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #484848;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.adopt .overlap-group-2 {
  position: absolute;
  width: 533px;
  height: 78px;
  top: 442px;
  left: 492px;
  background-size: 100% 100%;
  background-color: #FFFFFF;
  border-radius: 25px;
  opacity: 0.8;
}

.adopt .text-wrapper-2 {
  position: absolute;
  top: 20px;
  left: 89px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #595959;
  font-size: 28px;
  letter-spacing: 2.24px;
  line-height: normal;
}

.adopt .mail {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 15px;
  left: 24px;
}

.adopt .AR-VR {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 335px;
  left: 1456px;
}

.adopt .text-wrapper-3 {
  position: absolute;
  width: 212px;
  top: -1px;
  left: 0;
  font-family: "Staatliches", Helvetica;
  font-weight: 400;
  color: #a58c84;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3.6px;
  line-height: 44px;
}

.adopt .AR-VR-wrapper {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 408px;
  left: 1456px;
}

.adopt .view {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 262px;
  left: 1456px;
}

.adopt .quick-links {
  position: absolute;
  width: 287px;
  top: 179px;
  left: 1419px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #88746e;
  font-size: 42px;
  text-align: center;
  letter-spacing: 4.2px;
  line-height: 44px;
}

.adopt .div-wrapper {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 480px;
  left: 1113px;
}

.adopt .view-2 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 407px;
  left: 1112px;
}

.adopt .div-wrapper-2 {
  position: absolute;
  width: 265px;
  height: 44px;
  top: 335px;
  left: 1087px;
}

.adopt .text-wrapper-4 {
  position: absolute;
  width: 265px;
  top: -1px;
  left: 0;
  font-family: "Staatliches", Helvetica;
  font-weight: 400;
  color: #a58c84;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3.6px;
  line-height: 44px;
}

.adopt .view-3 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 262px;
  left: 1113px;
}

.adopt .services {
  position: absolute;
  width: 175px;
  top: 179px;
  left: 1131px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #87746e;
  font-size: 42px;
  text-align: center;
  letter-spacing: 4.2px;
  line-height: 44px;
}

.adopt .overlap-2 {
  position: absolute;
  width: 390px;
  height: 142px;
  top: 230px;
  left: 492px;
}

.adopt .flexcontainer {
  top: 35px;
  left: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  width: 266px;
  height: 107px;
}

.adopt .text-i {
  position: relative;
  align-self: stretch;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #4c3c3c;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3.15px;
  line-height: 45px;
}

.adopt .span {
  letter-spacing: 1.1px;
}

.adopt .logo {
  position: absolute;
  width: 157px;
  height: 142px;
  top: 0;
  left: 0;
}

.adopt .vector {
  position: absolute;
  width: 1242px;
  height: 3px;
  top: 582px;
  left: 466px;
}

.adopt .rectangle {
  position: absolute;
  width: 1228px;
  height: 1812px;
  top: 168px;
  left: 474px;
  background-color: #fffefe;
  border-radius: 20px;
  border: 3px solid;
  border-color: #fae5ce;
}

.adopt .chevrons-right {
  position: absolute;
  width: 198px;
  height: 198px;
  top: 1003px;
  left: 1603px;
}

.adopt .chevrons-left {
  position: absolute;
  width: 199px;
  height: 199px;
  top: 1003px;
  left: 370px;
}

.adopt .buddy {
  position: absolute;
  width: 788px;
  height: 1799px;
  top: 75px;
  left: 699px;
}

.adopt .overlap-3 {
  position: absolute;
  width: 782px;
  height: 610px;
  top: 1189px;
  left: 0;
  background-color: #ece5e280;
  border-radius: 0px 0px 45px 45px;
  border: 0.5px solid;
  border-color: #595959e0;
}


.adopt .text {
  position: absolute;
  width: 309px;
  height: 79px;
  top: 460px;
  left: 222px;
}

.adopt .overlap-group-3 {
  position: relative;
  height: 79px;
  border-radius: 25px;
}

.adopt .rectangle-2 {
  position: absolute;
  width: 309px;
  height: 79px;
  top: 0;
  left: 0;
  background-color: #faa85266;
  border-radius: 25px;
  border: none;
}

.adopt .text-wrapper-5 {
  position: absolute;
  top: 12px;
  left: 77px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #595959e0;
  font-size: 40px;
  letter-spacing: 3.2px;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
}

.adopt .text-wrapper-5:hover {
  color: #FFFFFF;
}

.adopt .x {
  position: absolute;
  width: 123px;
  height: 126px;
  top: 444px;
  left: 56px;
}

.adopt .like {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 450px;
  right: 82px;
}


.adopt .text-wrapper-6 {
  position: absolute;
  width: 497px;
  top: 390px;
  left: 28px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #595959e0;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 24px;
}

.adopt .overlap-wrapper {
  position: absolute;
  width: 172px;
  height: 79px;
  top: 252px;
  left: 532px;
}

.adopt .overlap-4 {
  position: relative;
  width: 170px;
  height: 79px;
  background-color: #e9c09580;
  border-radius: 40px;
}

.adopt .text-wrapper-7 {
  position: absolute;
  top: 17px;
  left: 14px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #907c75;
  font-size: 36px;
  letter-spacing: 2.88px;
  line-height: normal;
}

.adopt .overlap-group-wrapper {
  position: absolute;
  width: 172px;
  height: 79px;
  top: 252px;
  left: 306px;
}

.adopt .text-wrapper-8 {
  position: absolute;
  top: 17px;
  left: 34px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #907c75;
  font-size: 36px;
  letter-spacing: 2.88px;
  line-height: normal;
}

.adopt .view-4 {
  position: absolute;
  width: 172px;
  height: 79px;
  top: 252px;
  left: 80px;
}

.adopt .view-5 {
  position: absolute;
  width: 172px;
  height: 79px;
  top: 140px;
  left: 532px;
}

.adopt .text-wrapper-9 {
  position: absolute;
  top: 17px;
  left: 16px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #907c75;
  font-size: 36px;
  letter-spacing: 2.88px;
  line-height: normal;
}

.adopt .element {
  position: absolute;
  width: 172px;
  height: 79px;
  top: 140px;
  left: 306px;
}

.adopt .text-wrapper-10 {
  position: absolute;
  top: 17px;
  left: 43px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #907c75;
  font-size: 36px;
  letter-spacing: 2.88px;
  line-height: normal;
}

.adopt .view-6 {
  position: absolute;
  width: 172px;
  height: 79px;
  top: 140px;
  left: 80px;
}

.adopt .text-wrapper-11 {
  position: absolute;
  top: 17px;
  left: 53px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #907c75;
  font-size: 36px;
  letter-spacing: 2.88px;
  line-height: normal;
}

.adopt .text-wrapper-12 {
  position: absolute;
  width: 403px;
  top: 60px;
  left: 48px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #595959e0;
  font-size: 48px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 24px;
}

.adopt .overlap-5 {
  position: absolute;
  width: 782px;
  height: 1189px;
  top: 0;
  left: 0;
}

.adopt .dog {
  position: absolute;
  width: 782px;
  height: 873px;
  top: 316px;
  left: 0;
}

.adopt .bone {
  position: absolute;
  width: 423px;
  height: 423px;
  top: 0;
  left: 175px;
  object-fit: cover;
}

.adopt .text-wrapper-13 {
  position: absolute;
  width: 163px;
  height: 60px;
  top: 200px;
  left: 309px;
  font-family: "Sriracha", Helvetica;
  font-weight: 400;
  color: #595959e0;
  font-size: 55px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 24px;
}

.adopt .announcement {
  position: absolute;
  width: 212px;
  height: 214px;
  top: 127px;
  left: 395px;
  object-fit: cover;
}

.adopt .line {
  position: absolute;
  width: 4px;
  height: 78px;
  top: 2px;
  left: 1483px;
}

.adopt .rectangle-3 {
  position: absolute;
  width: 154px;
  height: 80px;
  top: 0;
  left: 1305px;
  border-radius: 40px;
  border: 4px solid;
  border-color: #faa85273;
}

.adopt .camera {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 22px;
  left: 1388px;
}

.adopt .filter {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 21px;
  left: 1331px;
}

.adopt .search {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 21px;
  left: 496px;
}

.adopt .inputs-search {
  display: flex;
  flex-direction: column;
  width: 820px;
  height: 80px;
  align-items: flex-start;
  position: absolute;
  top: -5px;
  left: 470px;
  border-radius: 40px;
}

.adopt .text-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 60px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 40px;
  border: 4px solid;
  border-color: #faa85273;
}

.adopt .state-layer {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 4px 4px 0px 0px;
}

.adopt .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 22px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.adopt .label-text {
  position: relative;
  align-self: stretch;
  width: 100%;
  border: none;
  background: none;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #61616199;
  font-size: 28px;
  text-align: left;
  letter-spacing: 0.5px;
  line-height: 24px;
  white-space: nowrap;
  padding: 0;
}

.adopt .text-wrapper-14 {
  position: absolute;
  top: 23px;
  left: 1591px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #faa852b2;
  font-size: 28px;
  letter-spacing: 2.24px;
  line-height: normal;
}

.adopt .plus-circle {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 1px;
  left: 1508px;
}

.adopt .overlap-6 {
  position: absolute;
  width: 1238px;
  height: 146px;
  top: 14px;
  left: 29px;
}

.adopt .overlap-7 {
  position: absolute;
  width: 1238px;
  height: 142px;
  top: 0;
  left: 0;
}

.adopt .img {
  position: absolute;
  width: 870px;
  height: 94px;
  top: 23px;
  left: 368px;
}

.adopt .AR-VR-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 1074px;
}

.adopt .AR-VR-2 {
  position: absolute;
  width: 112px;
  height: 83px;
  top: 5px;
  left: 2px;
}

.adopt .map-jpg {
  position: absolute;
  width: 84px;
  height: 84px;
  top: 24px;
  left: 723px;
}

.adopt .donate-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 891px;
  overflow: hidden;
}

.adopt .donate {
  position: absolute;
  width: 117px;
  height: 83px;
  top: 5px;
  left: -1px;
}

.adopt .chat-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 523px;
}

.adopt .chat {
  position: absolute;
  width: 105px;
  height: 75px;
  top: 9px;
  left: 5px;
}

.adopt .vector-2 {
  position: absolute;
  width: 1px;
  height: 94px;
  top: 23px;
  left: 412px;
}

.adopt .flexcontainer-i {
  top: 24px;
  left: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  width: 266px;
  height: 107px;
}

.adopt .AR-VR-3 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 1096px;
}

.adopt .view-7 {
  position: absolute;
  width: 51px;
  height: 29px;
  top: 117px;
  left: 931px;
}

.adopt .text-wrapper-16 {
  position: absolute;
  width: 51px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #4c3c3ccc;
  font-size: 20px;
  letter-spacing: 1.6px;
  line-height: normal;
}

.adopt .view-8 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 723px;
}

.adopt .view-9 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 537px;
}

.adopt .user-jpg {
  position: absolute;
  width: 83px;
  height: 93px;
  top: 37px;
  left: 1301px;
}

.adopt .view-10 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 131px;
  left: 1301px;
}

