/* screen - donateu95supplies-1 */

.donateu95supplies-1 {
  background-color: var(--provincial-pink);
  height: 2532px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.donateu95supplies-1 .shape1-C61RwL {
  background-color: transparent;
  height: 1044px;
  left: -284px;
  position: absolute;
  top: 1px;
  width: 2001px;
}

.donateu95supplies-1 .rectangle-1-C61RwL {
  background-color: var(--coconut);
  border-radius: 20px;
  height: 1601px;
  left: 44px;
  position: absolute;
  top: 220px;
  width: 1350px;
}

.donateu95supplies-1 .text_label-C61RwL {
  background-color: transparent;
  height: auto;
  left: 296px;
  letter-spacing: 3.20px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 324px;
  white-space: nowrap;
  width: auto;
}

.donateu95supplies-1 .text_label-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 1130px;
  letter-spacing: 3.20px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 325px;
  white-space: nowrap;
  width: auto;
}

.donateu95supplies-1 .rectangle-15-C61RwL {
  background-color: transparent;
  height: 147px;
  left: 1118px;
  position: absolute;
  top: 146px;
  width: 322px;
}

.donateu95supplies-1 .text_label-mzXdH9 {
  background-color: transparent;
  color: #000000a6;
  font-family: var(--font-family-inter);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  height: 94px;
  left: 187px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 755px;
  width: 384px;
}

.donateu95supplies-1 .frame-11-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 571px;
  left: 183px;
  position: absolute;
  top: 902px;
  width: 232px;
}

.donateu95supplies-1 .text_label-zif1O8 {
  align-self: stretch;
  background-color: transparent;
  height: 91px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.donateu95supplies-1 .text_label-NhUN4p {
  align-self: stretch;
  background-color: transparent;
  height: 91px;
  letter-spacing: 8.75px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.donateu95supplies-1 .text_label-AJT3O2 {
  align-self: stretch;
  background-color: transparent;
  height: 91px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.donateu95supplies-1 .text_label-ZCE7qy {
  align-self: stretch;
  background-color: transparent;
  height: 91px;
  letter-spacing: 8.75px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.donateu95supplies-1 .text_label-fUtJsh {
  align-self: stretch;
  background-color: transparent;
  height: 91px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.donateu95supplies-1 .vector-7-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 99px;
  position: absolute;
  top: 868px;
  width: 1242px;
}

.donateu95supplies-1 .frame-12-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 36px;
  height: 651px;
  left: 421px;
  position: absolute;
  top: 911px;
  width: 886px;
}

.donateu95supplies-1 .inputs-XpWn19 {
  height: 78px;
  width: 330px;
}

.donateu95supplies-1 .label-text-ajz9qJ {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
}

.donateu95supplies-1 .label-text-tCFKdT {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.donateu95supplies-1 .inputs-ZS7nvQ {
  height: 78px;
  width: 330px;
}

.donateu95supplies-1 .label-text-xJHx7M {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
}

.donateu95supplies-1 .label-text-maB2km {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.donateu95supplies-1 .inputs-VnGrYt {
  height: 78px;
  width: 330px;
}

.donateu95supplies-1 .label-text-FevYhg {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
}

.donateu95supplies-1 .label-text-sz5nCn {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.donateu95supplies-1 .inputs-Wh2tRK {
  height: 78px;
  width: 330px;
}

.donateu95supplies-1 .label-text-Jkgu02 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
}

.donateu95supplies-1 .label-text-9OApnd {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.donateu95supplies-1 .inputs-7S0bJc {
  align-self: stretch;
  height: 172px;
  width: 100%;
}

.donateu95supplies-1 .label-text-xiRhjn {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
}

.donateu95supplies-1 .label-text-HSnN73 {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.donateu95supplies-1 .x4-C61RwL {
  background-color: transparent;
  height: 159px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 270px;
  width: 167px;
}

.donateu95supplies-1 .tick-box-C61RwL {
  background-color: transparent;
  height: 63px;
  left: 1064px;
  position: absolute;
  top: 318px;
  width: 63px;
}

.donateu95supplies-1 .male-user-C61RwL {
  background-color: transparent;
  height: 104px;
  left: 99px;
  position: absolute;
  top: 752px;
  width: 100px;
}

.donateu95supplies-1 .frame-13-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 31px;
  height: 554px;
  left: 99px;
  position: absolute;
  top: 911px;
  width: 87px;
}

.donateu95supplies-1 .button-next-C61RwL {
  display: inline-flex;
  height: 90px;
  left: 660px;
  top: 1597px;
}

.donateu95supplies-1 .button-detail-HrCrQZ {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.donateu95supplies-1 .button-detail-muIMXx {
  align-items: center;
  background-color: var(--light-apricot);
  border-radius: 20px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 20px;
  position: relative;
}

.donateu95supplies-1 .text_label-xxHFzr {
  background-color: transparent;
  letter-spacing: 5.40px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.donateu95supplies-1 .shape2-C61RwL {
  background-color: transparent;
  height: 681px;
  left: -371px;
  position: absolute;
  top: 1858px;
  width: 2290px;
}

.donateu95supplies-1 .footer-C61RwL {
  background-color: transparent;
  height: 681px;
  left: -385px;
  position: absolute;
  top: 1856px;
  width: 2290px;
}

.donateu95supplies-1 .copyright-2024-all-rights-reserved-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 824px;
  letter-spacing: 1.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 603px;
  white-space: nowrap;
  width: auto;
}

.donateu95supplies-1 .rectangle-2-iPe1yZ {
  background-color: var(--white);
  border-radius: 20px;
  height: 78px;
  left: 492px;
  position: absolute;
  top: 442px;
  width: 533px;
}

.donateu95supplies-1 .rekindlepetlovegmailcom-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 581px;
  letter-spacing: 2.24px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 462px;
  width: auto;
}

.donateu95supplies-1 .mail-iPe1yZ {
  background-color: transparent;
  height: 47px;
  left: 516px;
  position: absolute;
  top: 457px;
  width: 47px;
}

.donateu95supplies-1 .arvr-iPe1yZ {
  height: 44px;
  left: 1456px;
  top: 335px;
  width: 212px;
}

.donateu95supplies-1 .arvr-AZ7xtO {
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95supplies-1 .view-iPe1yZ {
  height: 44px;
  left: 1456px;
  top: 262px;
  width: 212px;
}

.donateu95supplies-1 .text_label-J1nZEN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95supplies-1 .quick-links-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 1419px;
  letter-spacing: 4.20px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 179px;
  width: 287px;
}

.donateu95supplies-1 .view-CMvW9s {
  height: 44px;
  left: 1113px;
  top: 480px;
  width: 212px;
}

.donateu95supplies-1 .text_label-9cbGt7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95supplies-1 .view-edsI20 {
  height: 44px;
  left: 1112px;
  top: 407px;
  width: 212px;
}

.donateu95supplies-1 .text_label-E9YCvI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95supplies-1 .x-iPe1yZ {
  height: 44px;
  left: 1087px;
  top: 335px;
}

.donateu95supplies-1 .x-2XLZHx {
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
}

.donateu95supplies-1 .view-ur51bv {
  height: 44px;
  left: 1113px;
  top: 262px;
  width: 212px;
}

.donateu95supplies-1 .text_label-b1wTVx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95supplies-1 .services-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 1131px;
  letter-spacing: 4.20px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 179px;
  width: 175px;
}

.donateu95supplies-1 .flex-container-i11223669181465-iPe1yZ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  left: 616px;
  position: absolute;
  top: 265px;
  width: 266px;
}

.donateu95supplies-1 .text0-i11223669181465-hp1Wno {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95supplies-1 .span0-mmn3ZW {
  letter-spacing: 1.10px;
}

.donateu95supplies-1 .text1-i11223669181465-hp1Wno {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95supplies-1 .span1-tWuxy1 {
  letter-spacing: 1.10px;
}

.donateu95supplies-1 .logo-iPe1yZ {
  left: 492px;
  top: 230px;
}

.donateu95supplies-1 .vector-6-iPe1yZ {
  background-color: transparent;
  height: 1px;
  left: 466px;
  position: absolute;
  top: 582px;
  width: 1242px;
}

.donateu95supplies-1 .frame-51-C61RwL {
  background-color: transparent;
  height: 200px;
  left: 313px;
  position: absolute;
  top: 463px;
  width: 804px;
}

.donateu95supplies-1 .dm_process-fSmmYf {
  border-radius: 5px;
  height: 193px;
  left: 0px;
  top: 0px;
  width: 249px;
}

.donateu95supplies-1 .property-1-default-p0x4nr {
  background-color: transparent;
  border: 2px solid;
  border-color: var(--black);
  height: 147px;
  left: 47px;
  position: relative;
  top: 19px;
  width: 142px;
}

.donateu95supplies-1 .dm_process1-8iNcek {
  background-color: var(--silver);
}

.donateu95supplies-1 .text_label-8iNcek {
  background-color: transparent;
  height: 33px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 167px;
  white-space: nowrap;
  width: 138px;
}

.donateu95supplies-1 .dm_process-1-fSmmYf {
  background-color: var(--spring-green);
  left: 252px;
  top: 19px;
}

.donateu95supplies-1 .dm_process1-wldUIX {
  background-color: transparent;
}

.donateu95supplies-1 .text_label-wldUIX {
  background-color: transparent;
  height: 29px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 170px;
  white-space: nowrap;
  width: 129px;
}

.donateu95supplies-1 .dm_process-6uarYK {
  height: 147px;
  left: 457px;
  top: 19px;
  width: 142px;
}

.donateu95supplies-1 .dm_process1-ubIxpg {
  background-color: var(--silver);
}

.donateu95supplies-1 .text_label-ubIxpg {
  background-color: transparent;
  height: 33px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 167px;
  white-space: nowrap;
  width: 138px;
}

.donateu95supplies-1 .dm_process-1-6uarYK {
  background-color: transparent;
  left: 662px;
  top: 21px;
}

.donateu95supplies-1 .dm_process1-XBzmfC {
  background-color: transparent;
}

.donateu95supplies-1 .text_label-XBzmfC {
  background-color: transparent;
  height: 29px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 170px;
  white-space: nowrap;
  width: 129px;
}

.donateu95supplies-1 .checkmark-fSmmYf {
  background-color: transparent;
  height: 100px;
  left: 682px;
  position: absolute;
  top: 42px;
  width: 100px;
}

.donateu95supplies-1 .check-file-fSmmYf {
  background-color: transparent;
  height: 100px;
  left: 477px;
  position: absolute;
  top: 46px;
  width: 100px;
}

.donateu95supplies-1 .documents-fSmmYf {
  background-color: transparent;
  height: 100px;
  left: 272px;
  position: absolute;
  top: 45px;
  width: 100px;
}

.donateu95supplies-1 .dog-bowl-fSmmYf {
  background-color: transparent;
  height: 100px;
  left: 68px;
  position: absolute;
  top: 42px;
  width: 100px;
}

.donateu95supplies-1 .button-next-VMr6Om {
  cursor: pointer;
  display: flex;
  left: 1121px;
  top: 1680px;
  width: 231px;
}

.donateu95supplies-1 .button-detail-obQyDY {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: 87px;
  position: relative;
  width: 231px;
}

.donateu95supplies-1 .button-detail-nBREgO {
  align-items: center;
  background-color: var(--light-apricot);
  border-radius: 20px;
  display: flex;
  gap: 10px;
  height: 87px;
  justify-content: center;
  padding: 10px 20px;
  position: relative;
  width: 231px;
}

.donateu95supplies-1 .text_label-Sps4dK {
  background-color: transparent;
  letter-spacing: 5.40px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.donateu95supplies-1 .button-next-mzXdH9 {
  cursor: pointer;
  display: flex;
  left: 89px;
  top: 1680px;
  width: 231px;
}

.donateu95supplies-1 .button-detail-bs3qmZ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: 87px;
  position: relative;
  width: 231px;
}

.donateu95supplies-1 .button-detail-xpiOhT {
  align-items: center;
  background-color: var(--light-apricot);
  border-radius: 20px;
  display: flex;
  gap: 10px;
  height: 87px;
  justify-content: center;
  padding: 10px 20px;
  position: relative;
  width: 231px;
}

.donateu95supplies-1 .text_label-kOLYE0 {
  background-color: transparent;
  letter-spacing: 5.40px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.donateu95supplies-1 .nav-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  backdrop-filter: blur(30px) brightness(100%);
  background-color: var(--provincial-pink);
  height: 181px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 1440px;
}

.donateu95supplies-1 .line-Ebfosa {
  background-color: transparent;
  height: 94px;
  left: 397px;
  position: absolute;
  top: 37px;
  width: 870px;
}

.donateu95supplies-1 .arvr_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 1103px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.donateu95supplies-1 .arvr-Q1zyRh {
  height: 83px;
  left: 2px;
  top: 5px;
  width: 112px;
}

.donateu95supplies-1 .map_jpg-Ebfosa {
  background-color: transparent;
  height: 84px;
  left: 752px;
  position: absolute;
  top: 38px;
  width: 84px;
}

.donateu95supplies-1 .donate_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 920px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.donateu95supplies-1 .donate-8f4v4t {
  background-color: transparent;
  height: 83px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 117px;
}

.donateu95supplies-1 .chat_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 552px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.donateu95supplies-1 .chat-o1hCfn {
  background-color: transparent;
  height: 75px;
  left: 5px;
  position: absolute;
  top: 9px;
  width: 105px;
}

.donateu95supplies-1 .user_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 1301px;
  position: absolute;
  top: 37px;
  width: 83px;
}

.donateu95supplies-1 .view-Ebfosa {
  height: 27px;
  left: 1301px;
  top: 131px;
  width: 85px;
}

.donateu95supplies-1 .text_label-5FtNQj {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95supplies-1 .arvr-Ebfosa {
  height: 27px;
  left: 1125px;
  top: 131px;
  width: 85px;
}

.donateu95supplies-1 .arvr-tiYPVO {
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95supplies-1 .view-aIywlF {
  height: 29px;
  left: 960px;
  top: 131px;
  width: 51px;
}

.donateu95supplies-1 .text_label-LnE1b9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 51px;
}

.donateu95supplies-1 .view-d56pal {
  height: 27px;
  left: 752px;
  top: 131px;
  width: 85px;
}

.donateu95supplies-1 .text_label-bk7KDe {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95supplies-1 .view-dsQOMj {
  height: 27px;
  left: 566px;
  top: 131px;
  width: 85px;
}

.donateu95supplies-1 .text_label-iHW8al {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95supplies-1 .vector-1-Ebfosa {
  background-color: transparent;
  height: 94px;
  left: 441px;
  position: absolute;
  top: 37px;
  width: 1px;
}

.donateu95supplies-1 .flex-container-i112235606129-Ebfosa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  left: 144px;
  position: absolute;
  top: 37px;
  width: 266px;
}

.donateu95supplies-1 .text0-i112235606129-ISIMU2 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95supplies-1 .span0-PZh9Nl {
  letter-spacing: 1.10px;
}

.donateu95supplies-1 .text1-i112235606129-ISIMU2 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95supplies-1 .span1-a2E45x {
  letter-spacing: 1.10px;
}

.donateu95supplies-1 .logo-Ebfosa {
  left: 29px;
  top: 14px;
}

.donateu95supplies-1 .button-next {
  align-items: flex-start;
  background-color: transparent;
  position: absolute;
}

.donateu95supplies-1 .content {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 22px 0px;
  position: relative;
}

.donateu95supplies-1 .dm_process-1 {
  height: 147px;
  position: absolute;
  width: 142px;
}

.donateu95supplies-1 .inputs {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.donateu95supplies-1 .logo {
  background-color: transparent;
  height: 142px;
  position: absolute;
  width: 157px;
}

.donateu95supplies-1 .state-layer {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: 4px 0px;
  position: relative;
  width: 100%;
}

.donateu95supplies-1 .text-field {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  border: 2.5px solid;
  border-color: var(--black);
  border-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  opacity: 0.5;
  padding: 0px 16px;
  position: relative;
  width: 100%;
}

.donateu95supplies-1 .view {
  background-color: transparent;
  position: absolute;
}

.donateu95supplies-1 .x {
  background-color: transparent;
  position: absolute;
  width: 265px;
}
