/* screen - donateu95thingsu95check */

.donateu95thingsu95check {
  background-color: var(--provincial-pink);
  height: 2379px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.donateu95thingsu95check .shape1-C61RwL {
  background-color: transparent;
  height: 1044px;
  left: -284px;
  position: absolute;
  top: 1px;
  width: 2001px;
}

.donateu95thingsu95check .rectangle-1-C61RwL {
  background-color: var(--coconut);
  border-radius: 20px;
  height: 1426px;
  left: 44px;
  position: absolute;
  top: 220px;
  width: 1350px;
}

.donateu95thingsu95check .text_label-C61RwL {
  background-color: transparent;
  height: auto;
  left: 296px;
  letter-spacing: 3.20px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 324px;
  white-space: nowrap;
  width: auto;
}

.donateu95thingsu95check .text_label-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 1167px;
  letter-spacing: 3.20px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 323px;
  white-space: nowrap;
  width: auto;
}

.donateu95thingsu95check .rectangle-15-C61RwL {
  background-color: transparent;
  height: 147px;
  left: 1118px;
  position: absolute;
  top: 146px;
  width: 322px;
}

.donateu95thingsu95check .frame-11-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 321px;
  left: 515px;
  position: absolute;
  top: 1103px;
  width: 232px;
}

.donateu95thingsu95check .text_label-zif1O8 {
  background-color: transparent;
  height: 91px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -320.00px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 552px;
}

.donateu95thingsu95check .text_label-NhUN4p {
  background-color: transparent;
  height: 91px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 204px;
}

.donateu95thingsu95check .text_label-AJT3O2 {
  align-self: stretch;
  background-color: transparent;
  height: 91px;
  letter-spacing: 8.75px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.donateu95thingsu95check .x4-C61RwL {
  background-color: transparent;
  height: 159px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 270px;
  width: 167px;
}

.donateu95thingsu95check .tick-box-C61RwL {
  background-color: transparent;
  height: 63px;
  left: 1101px;
  position: absolute;
  top: 316px;
  width: 63px;
}

.donateu95thingsu95check .frame-13-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 31px;
  height: 308px;
  left: 431px;
  position: absolute;
  top: 1112px;
  width: 87px;
}

.donateu95thingsu95check .button-next-C61RwL {
  cursor: pointer;
  left: 1033px;
}

.donateu95thingsu95check .button-detail-HrCrQZ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: 87px;
  position: relative;
  width: 231px;
}

.donateu95thingsu95check .button-detail-muIMXx {
  align-items: center;
  background-color: var(--light-apricot);
  border-radius: 20px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 87px;
  justify-content: center;
  margin-right: -94.00px;
  padding: 10px 20px;
  position: relative;
}

.donateu95thingsu95check .text_label-xxHFzr {
  background-color: transparent;
  letter-spacing: 5.40px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.donateu95thingsu95check .button-next-VMr6Om {
  height: 87px;
  left: 88px;
}

.donateu95thingsu95check .button-detail-obQyDY {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 20px;
  position: relative;
}

.donateu95thingsu95check .button-detail-nBREgO {
  align-items: center;
  background-color: var(--light-apricot);
  border-radius: 20px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 87px;
  justify-content: center;
  margin-right: -94.00px;
  padding: 10px 20px;
  position: relative;
}

.donateu95thingsu95check .text_label-Sps4dK {
  background-color: transparent;
  letter-spacing: 5.40px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.donateu95thingsu95check .shape2-C61RwL {
  background-color: transparent;
  height: 681px;
  left: -409px;
  position: absolute;
  top: 1723px;
  width: 2290px;
}

.donateu95thingsu95check .footer-C61RwL {
  background-color: transparent;
  height: 681px;
  left: -385px;
  position: absolute;
  top: 1703px;
  width: 2290px;
}

.donateu95thingsu95check .copyright-2024-all-rights-reserved-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 824px;
  letter-spacing: 1.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 603px;
  white-space: nowrap;
  width: auto;
}

.donateu95thingsu95check .rectangle-2-iPe1yZ {
  background-color: var(--white);
  border-radius: 20px;
  height: 78px;
  left: 492px;
  position: absolute;
  top: 442px;
  width: 533px;
}

.donateu95thingsu95check .rekindlepetlovegmailcom-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 581px;
  letter-spacing: 2.24px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 462px;
  width: auto;
}

.donateu95thingsu95check .mail-iPe1yZ {
  background-color: transparent;
  height: 47px;
  left: 516px;
  position: absolute;
  top: 457px;
  width: 47px;
}

.donateu95thingsu95check .arvr-iPe1yZ {
  height: 44px;
  left: 1456px;
  top: 335px;
  width: 212px;
}

.donateu95thingsu95check .arvr-AZ7xtO {
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95thingsu95check .view-iPe1yZ {
  height: 44px;
  left: 1456px;
  top: 262px;
  width: 212px;
}

.donateu95thingsu95check .text_label-J1nZEN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95thingsu95check .quick-links-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 1419px;
  letter-spacing: 4.20px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 179px;
  width: 287px;
}

.donateu95thingsu95check .view-CMvW9s {
  height: 44px;
  left: 1113px;
  top: 480px;
  width: 212px;
}

.donateu95thingsu95check .text_label-9cbGt7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95thingsu95check .view-edsI20 {
  height: 44px;
  left: 1112px;
  top: 407px;
  width: 212px;
}

.donateu95thingsu95check .text_label-E9YCvI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95thingsu95check .x-iPe1yZ {
  height: 44px;
  left: 1087px;
  top: 335px;
  width: 265px;
}

.donateu95thingsu95check .x-2XLZHx {
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
  width: 265px;
}

.donateu95thingsu95check .view-ur51bv {
  height: 44px;
  left: 1113px;
  top: 262px;
  width: 212px;
}

.donateu95thingsu95check .text_label-b1wTVx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95thingsu95check .services-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 1131px;
  letter-spacing: 4.20px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 179px;
  width: 175px;
}

.donateu95thingsu95check .flex-container-i11155744181465-iPe1yZ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  left: 616px;
  position: absolute;
  top: 265px;
  width: 266px;
}

.donateu95thingsu95check .text0-i11155744181465-vY5xZQ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95thingsu95check .span0-EN11Jl {
  letter-spacing: 1.10px;
}

.donateu95thingsu95check .text1-i11155744181465-vY5xZQ {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95thingsu95check .span1-bdu9io {
  letter-spacing: 1.10px;
}

.donateu95thingsu95check .logo-iPe1yZ {
  left: 492px;
  top: 230px;
}

.donateu95thingsu95check .vector-6-iPe1yZ {
  background-color: transparent;
  height: 1px;
  left: 466px;
  position: absolute;
  top: 582px;
  width: 1242px;
}

.donateu95thingsu95check .frame-47-C61RwL {
  background-color: transparent;
  height: 193px;
  left: 313px;
  position: absolute;
  top: 447px;
  width: 804px;
}

.donateu95thingsu95check .dm_process-LopEeq {
  border-radius: 5px;
  height: 193px;
  left: 0px;
  top: 0px;
  width: 249px;
}

.donateu95thingsu95check .property-1-default-5RJ4vu {
  background-color: transparent;
  border: 2px solid;
  border-color: var(--black);
  height: 147px;
  left: 47px;
  position: relative;
  top: 19px;
  width: 142px;
}

.donateu95thingsu95check .dm_process1-KTVFxY {
  background-color: var(--silver);
}

.donateu95thingsu95check .text_label-KTVFxY {
  background-color: transparent;
  height: 33px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 167px;
  white-space: nowrap;
  width: 138px;
}

.donateu95thingsu95check .dm_process-1-LopEeq {
  background-color: var(--silver);
  left: 252px;
  top: 19px;
}

.donateu95thingsu95check .dm_process1-Vh2mLY {
  background-color: transparent;
}

.donateu95thingsu95check .text_label-Vh2mLY {
  background-color: transparent;
  height: 29px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 170px;
  white-space: nowrap;
  width: 129px;
}

.donateu95thingsu95check .dm_process-7PDNIN {
  height: 147px;
  left: 457px;
  top: 19px;
  width: 142px;
}

.donateu95thingsu95check .dm_process1-5l0Whd {
  background-color: var(--spring-green);
}

.donateu95thingsu95check .text_label-5l0Whd {
  background-color: transparent;
  height: 33px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 167px;
  white-space: nowrap;
  width: 138px;
}

.donateu95thingsu95check .dm_process-1-7PDNIN {
  background-color: transparent;
  left: 662px;
  top: 21px;
}

.donateu95thingsu95check .dm_process1-fTN5hk {
  background-color: transparent;
}

.donateu95thingsu95check .text_label-fTN5hk {
  background-color: transparent;
  height: 29px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 170px;
  white-space: nowrap;
  width: 129px;
}

.donateu95thingsu95check .checkmark-LopEeq {
  background-color: transparent;
  height: 100px;
  left: 682px;
  position: absolute;
  top: 42px;
  width: 100px;
}

.donateu95thingsu95check .check-file-LopEeq {
  background-color: transparent;
  height: 100px;
  left: 477px;
  position: absolute;
  top: 46px;
  width: 100px;
}

.donateu95thingsu95check .documents-LopEeq {
  background-color: transparent;
  height: 100px;
  left: 272px;
  position: absolute;
  top: 45px;
  width: 100px;
}

.donateu95thingsu95check .dog-bowl-LopEeq {
  background-color: transparent;
  height: 100px;
  left: 68px;
  position: absolute;
  top: 42px;
  width: 100px;
}

.donateu95thingsu95check .rectangle-33-C61RwL {
  background-color: var(--albescent-white);
  border: 3px solid;
  border-color: var(--gray-olive);
  border-radius: 50px;
  height: 321px;
  left: 298px;
  position: absolute;
  top: 724px;
  width: 296px;
}

.donateu95thingsu95check .feed-1-C61RwL {
  background-color: transparent;
  height: 269px;
  left: 337px;
  object-fit: cover;
  position: absolute;
  top: 747px;
  width: 219px;
}

.donateu95thingsu95check .dog-food-1-C61RwL {
  background-color: transparent;
  height: 50px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 764px;
  width: 51px;
}

.donateu95thingsu95check .x-C61RwL {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 714px;
  letter-spacing: 0.00px;
  line-height: normal;
  text-align: left;
  top: 761px;
  width: auto;
}

.donateu95thingsu95check .text_label-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 720px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 854px;
  white-space: nowrap;
  width: auto;
}

.donateu95thingsu95check .text_label-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 720px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 947px;
  white-space: nowrap;
  width: auto;
}

.donateu95thingsu95check .amount-C61RwL {
  left: 903px;
  top: 849px;
  width: 58px;
}

.donateu95thingsu95check .x1-GnfuCo {
  background-color: transparent;
  height: 48px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 56px;
}

.donateu95thingsu95check .amount-VMr6Om {
  left: 839px;
  top: 942px;
  width: 181px;
}

.donateu95thingsu95check .title-nxXibc {
  background-color: transparent;
  height: 48px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 179px;
}

.donateu95thingsu95check .star-C61RwL {
  top: 851px;
}

.donateu95thingsu95check .star-VMr6Om {
  top: 944px;
}

.donateu95thingsu95check .nav-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  backdrop-filter: blur(30px) brightness(100%);
  background-color: var(--provincial-pink);
  height: 181px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 1440px;
}

.donateu95thingsu95check .line-Ebfosa {
  background-color: transparent;
  height: 94px;
  left: 397px;
  position: absolute;
  top: 37px;
  width: 870px;
}

.donateu95thingsu95check .arvr_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 1103px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.donateu95thingsu95check .arvr-Q1zyRh {
  height: 83px;
  left: 2px;
  top: 5px;
  width: 112px;
}

.donateu95thingsu95check .map_jpg-Ebfosa {
  background-color: transparent;
  height: 84px;
  left: 752px;
  position: absolute;
  top: 38px;
  width: 84px;
}

.donateu95thingsu95check .donate_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 920px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.donateu95thingsu95check .donate-8f4v4t {
  background-color: transparent;
  height: 83px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 117px;
}

.donateu95thingsu95check .chat_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 552px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.donateu95thingsu95check .chat-o1hCfn {
  background-color: transparent;
  height: 75px;
  left: 5px;
  position: absolute;
  top: 9px;
  width: 105px;
}

.donateu95thingsu95check .user_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 1301px;
  position: absolute;
  top: 37px;
  width: 83px;
}

.donateu95thingsu95check .view-Ebfosa {
  height: 27px;
  left: 1301px;
  top: 131px;
  width: 85px;
}

.donateu95thingsu95check .text_label-5FtNQj {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95thingsu95check .arvr-Ebfosa {
  height: 27px;
  left: 1125px;
  top: 131px;
  width: 85px;
}

.donateu95thingsu95check .arvr-tiYPVO {
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95thingsu95check .view-aIywlF {
  height: 29px;
  left: 960px;
  top: 131px;
  width: 51px;
}

.donateu95thingsu95check .text_label-LnE1b9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 51px;
}

.donateu95thingsu95check .view-d56pal {
  height: 27px;
  left: 752px;
  top: 131px;
  width: 85px;
}

.donateu95thingsu95check .text_label-bk7KDe {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95thingsu95check .view-dsQOMj {
  height: 27px;
  left: 566px;
  top: 131px;
  width: 85px;
}

.donateu95thingsu95check .text_label-iHW8al {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95thingsu95check .vector-1-Ebfosa {
  background-color: transparent;
  height: 94px;
  left: 441px;
  position: absolute;
  top: 37px;
  width: 1px;
}

.donateu95thingsu95check .flex-container-i111556906129-Ebfosa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  left: 144px;
  position: absolute;
  top: 37px;
  width: 266px;
}

.donateu95thingsu95check .text0-i111556906129-oeyCm1 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95thingsu95check .span0-rz1imV {
  letter-spacing: 1.10px;
}

.donateu95thingsu95check .text1-i111556906129-oeyCm1 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95thingsu95check .span1-wMgp4f {
  letter-spacing: 1.10px;
}

.donateu95thingsu95check .logo-Ebfosa {
  left: 29px;
  top: 14px;
}

.donateu95thingsu95check .amount {
  background-color: transparent;
  height: 48px;
  position: absolute;
}

.donateu95thingsu95check .button-next {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  position: absolute;
  top: 1500px;
  width: 231px;
}

.donateu95thingsu95check .dm_process-1 {
  height: 147px;
  position: absolute;
  width: 142px;
}

.donateu95thingsu95check .logo {
  background-color: transparent;
  height: 142px;
  position: absolute;
  width: 157px;
}

.donateu95thingsu95check .star {
  background-color: transparent;
  height: 50px;
  left: 652px;
  position: absolute;
  width: 50px;
}

.donateu95thingsu95check .view {
  background-color: transparent;
  position: absolute;
}

.donateu95thingsu95check .x {
  background-color: transparent;
  position: absolute;
}
