:root {
  --background: rgba(246, 246, 244, 1);
  --landcover: rgba(227, 227, 227, 0.01);
  --national-park: rgba(236, 238, 237, 0.5);
  --landuse: rgba(236, 238, 237, 1);
  --water-shadow: rgba(181, 190, 191, 1);
  --water: rgba(202, 210, 211, 1);
  --hillshade: rgba(255, 255, 255, 0.04);
  --road-primary-case: rgba(232, 237, 235, 1);
  --road-motorway-trunk-case: rgba(232, 237, 235, 1);
  --road-primary: rgba(255, 255, 255, 1);
  --road-motorway-trunk: rgba(255, 255, 255, 1);
  --admin-1-boundary-bg: rgba(214, 214, 214, 0);
  --admin-1-boundary: rgba(181, 181, 181, 1);
  --water-line-label: rgba(121, 137, 139, 1);
  --poi-label: rgba(143, 143, 143, 1);
  --settlement-label: rgba(140, 140, 140, 1);
  --country-label: rgba(107, 107, 107, 1);
  --title-font-family: "MS Gothic", Helvetica;
  --title-font-weight: 400;
  --title-font-size: 35px;
  --title-letter-spacing: 0px;
  --title-line-height: normal;
  --title-font-style: normal;
  ---font-family: "DM Serif Display", Helvetica;
  ---font-weight: 400;
  ---font-size: 36px;
  ---letter-spacing: 2.88px;
  ---line-height: normal;
  ---font-style: normal;
  --water-line-label-font-family: "Inter", Helvetica;
  --water-line-label-font-weight: 400;
  --water-line-label-font-size: 18px;
  --water-line-label-letter-spacing: 0px;
  --water-line-label-line-height: normal;
  --water-line-label-font-style: normal;
  --poi-label-font-family: "Inter", Helvetica;
  --poi-label-font-weight: 400;
  --poi-label-font-size: 12px;
  --poi-label-letter-spacing: 0px;
  --poi-label-line-height: normal;
  --poi-label-font-style: normal;
  --settlement-label-font-family: "Inter", Helvetica;
  --settlement-label-font-weight: 400;
  --settlement-label-font-size: 12.994378089904785px;
  --settlement-label-letter-spacing: 0px;
  --settlement-label-line-height: normal;
  --settlement-label-font-style: normal;
  --country-label-font-family: "Inter", Helvetica;
  --country-label-font-weight: 400;
  --country-label-font-size: 19.465578079223633px;
  --country-label-letter-spacing: 0px;
  --country-label-line-height: normal;
  --country-label-font-style: normal;
}
