.donate-regular-check {
  background-color: #fff7f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.donate-regular-check .div {
  background-color: #fff7f0;
  overflow: hidden;
  width: 1440px;
  height: 2366px;
  position: relative;
}

.donate-regular-check .overlap {
  position: absolute;
  width: 2001px;
  height: 1634px;
  top: 1px;
  left: -284px;
}

.donate-regular-check .shape {
  position: absolute;
  width: 2001px;
  height: 1044px;
  top: 0;
  left: 0;
}

.donate-regular-check .rectangle {
  position: absolute;
  width: 1350px;
  height: 1415px;
  top: 219px;
  left: 328px;
  background-color: #fffefe;
  border-radius: 20px;
}

.donate-regular-check .text-wrapper {
  position: absolute;
  top: 323px;
  left: 580px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #9b7a7a;
  font-size: 40px;
  letter-spacing: 3.2px;
  line-height: normal;
  white-space: nowrap;
}

.donate-regular-check .text-wrapper-2 {
  position: absolute;
  top: 322px;
  left: 1451px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #9b7a7a;
  font-size: 40px;
  letter-spacing: 3.2px;
  line-height: normal;
  white-space: nowrap;
}

.donate-regular-check .img {
  position: absolute;
  width: 322px;
  height: 147px;
  top: 145px;
  left: 1402px;
}

.donate-regular-check .frame {
  display: flex;
  flex-direction: column;
  width: 232px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 749px;
  left: 727px;
}

.donate-regular-check .text-wrapper-3 {
  position: relative;
  width: 552px;
  height: 91px;
  margin-top: -1px;
  margin-right: -320px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.donate-regular-check .text-wrapper-4 {
  position: relative;
  width: 204px;
  height: 91px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.donate-regular-check .text-wrapper-5 {
  position: relative;
  width: 475px;
  height: 91px;
  margin-right: -243px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.donate-regular-check .text-wrapper-6 {
  position: relative;
  width: 232px;
  height: 91px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 8.75px;
  line-height: normal;
}

.donate-regular-check .text-wrapper-7 {
  position: relative;
  width: 320px;
  height: 91px;
  margin-right: -88px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 8.75px;
  line-height: normal;
}

.donate-regular-check .element {
  position: absolute;
  width: 167px;
  height: 159px;
  top: 269px;
  left: 381px;
  object-fit: cover;
}

.donate-regular-check .tick-box {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 315px;
  left: 1385px;
}

.donate-regular-check .frame-2 {
  position: absolute;
  width: 804px;
  height: 193px;
  top: 446px;
  left: 597px;
}

.donate-regular-check .div-2 {
  position: absolute;
  width: 249px;
  height: 193px;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.donate-regular-check .property-default {
  position: relative;
  width: 142px;
  height: 147px;
  top: 19px;
  left: 47px;
  background-color: #bfbfbf;
  border: 2px solid;
  border-color: #000000;
}

.donate-regular-check .line {
  position: absolute;
  width: 202px;
  height: 167px;
  top: -10px;
  left: -10px;
}

.donate-regular-check .text-wrapper-8 {
  position: absolute;
  width: 138px;
  height: 33px;
  top: 167px;
  left: 2px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.donate-regular-check .coins {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 42px;
  left: 68px;
}

.donate-regular-check .overlap-group {
  position: absolute;
  width: 142px;
  height: 147px;
  top: 19px;
  left: 252px;
}

.donate-regular-check .dm-process {
  width: 142px;
  height: 147px;
  background-color: #bfbfbf;
  position: absolute;
  top: 0;
  left: 0;
}

.donate-regular-check .dm {
  position: absolute;
  width: 142px;
  height: 147px;
  top: 0;
  left: 0;
}

.donate-regular-check .text-wrapper-9 {
  position: absolute;
  width: 129px;
  height: 29px;
  top: 170px;
  left: 8px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.donate-regular-check .documents {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 26px;
  left: 20px;
}

.donate-regular-check .overlap-2 {
  position: absolute;
  width: 142px;
  height: 147px;
  top: 19px;
  left: 457px;
}

.donate-regular-check .dm-process-2 {
  width: 142px;
  height: 147px;
  background-color: #ebe1be;
  position: absolute;
  top: 0;
  left: 0;
}

.donate-regular-check .check-file {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 27px;
  left: 20px;
}

.donate-regular-check .overlap-group-2 {
  position: absolute;
  width: 142px;
  height: 147px;
  top: 21px;
  left: 662px;
}

.donate-regular-check .div-wrapper {
  position: absolute;
  width: 142px;
  height: 147px;
  top: 0;
  left: 0;
  background-image: url(./img/dm-process1.svg);
  background-size: 100% 100%;
}

.donate-regular-check .checkmark {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 21px;
  left: 20px;
}

.donate-regular-check .frame-3 {
  display: flex;
  flex-direction: column;
  width: 87px;
  align-items: flex-end;
  gap: 31px;
  position: absolute;
  top: 758px;
  left: 643px;
}

.donate-regular-check .heart-with-dog-paw {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 82px;
}

.donate-regular-check .button-next {
  display: flex;
  width: 231px;
  align-items: flex-start;
  position: absolute;
  top: 1492px;
  left: 1317px;
}

.donate-regular-check .button-detail {
  width: 231px;
  height: 87px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.donate-regular-check .button-detail-2 {
  display: inline-flex;
  height: 87px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -94px;
  background-color: #fdd4a8e6;
  border-radius: 20px;
}

.donate-regular-check .text-wrapper-10 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #595959e0;
  font-size: 36px;
  letter-spacing: 5.4px;
  line-height: normal;
}

.donate-regular-check .button-detail-wrapper {
  display: flex;
  width: 231px;
  align-items: flex-start;
  position: absolute;
  top: 1492px;
  left: 372px;
}

.donate-regular-check .button-detail-3 {
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.donate-regular-check .nav {
  position: absolute;
  width: 1440px;
  height: 181px;
  top: 0;
  left: 284px;
  background-color: #fff7f0;
  backdrop-filter: blur(30px) brightness(100%);
  -webkit-backdrop-filter: blur(30px) brightness(100%);
}

.donate-regular-check .overlap-3 {
  position: absolute;
  width: 1238px;
  height: 146px;
  top: 14px;
  left: 29px;
}

.donate-regular-check .overlap-4 {
  position: absolute;
  width: 1238px;
  height: 142px;
  top: 0;
  left: 0;
}

.donate-regular-check .line-2 {
  position: absolute;
  width: 870px;
  height: 94px;
  top: 23px;
  left: 368px;
}

.donate-regular-check .AR-VR-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 1074px;
}

.donate-regular-check .AR-VR {
  position: absolute;
  width: 112px;
  height: 83px;
  top: 5px;
  left: 2px;
}

.donate-regular-check .map-jpg {
  position: absolute;
  width: 84px;
  height: 84px;
  top: 24px;
  left: 723px;
}

.donate-regular-check .donate-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 891px;
  overflow: hidden;
}

.donate-regular-check .donate {
  position: absolute;
  width: 117px;
  height: 83px;
  top: 5px;
  left: -1px;
}

.donate-regular-check .chat-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 523px;
}

.donate-regular-check .chat {
  position: absolute;
  width: 105px;
  height: 75px;
  top: 9px;
  left: 5px;
}

.donate-regular-check .vector {
  position: absolute;
  width: 1px;
  height: 94px;
  top: 23px;
  left: 412px;
}

.donate-regular-check .flexcontainer {
  top: 23px;
  left: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  width: 266px;
  height: 107px;
}

.donate-regular-check .text-i {
  position: relative;
  align-self: stretch;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #4c3c3c;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3.15px;
  line-height: 45px;
}

.donate-regular-check .span {
  letter-spacing: 1.1px;
}

.donate-regular-check .logo {
  position: absolute;
  width: 157px;
  height: 142px;
  top: 0;
  left: 0;
}

.donate-regular-check .AR-VR-2 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 1096px;
}

.donate-regular-check .text-wrapper-11 {
  position: absolute;
  width: 85px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #4c3c3ccc;
  font-size: 20px;
  letter-spacing: 1.6px;
  line-height: normal;
}

.donate-regular-check .view {
  position: absolute;
  width: 51px;
  height: 29px;
  top: 117px;
  left: 931px;
}

.donate-regular-check .text-wrapper-12 {
  position: absolute;
  width: 51px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #4c3c3ccc;
  font-size: 20px;
  letter-spacing: 1.6px;
  line-height: normal;
}

.donate-regular-check .view-2 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 723px;
}

.donate-regular-check .view-3 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 537px;
}

.donate-regular-check .user-jpg {
  position: absolute;
  width: 83px;
  height: 93px;
  top: 37px;
  left: 1301px;
}

.donate-regular-check .view-4 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 131px;
  left: 1301px;
}

.donate-regular-check .overlap-5 {
  position: absolute;
  width: 2314px;
  height: 701px;
  top: 1690px;
  left: -409px;
}

.donate-regular-check .shape-2 {
  position: absolute;
  width: 2290px;
  height: 681px;
  top: 20px;
  left: 0;
}

.donate-regular-check .footer {
  position: absolute;
  width: 2290px;
  height: 681px;
  top: 0;
  left: 24px;
  background-color: transparent;
}

.donate-regular-check .p {
  position: absolute;
  top: 603px;
  left: 824px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #484848;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.donate-regular-check .overlap-6 {
  position: absolute;
  width: 533px;
  height: 78px;
  top: 442px;
  left: 492px;
  background-image: url(./img/rectangle-2-1.svg);
  background-size: 100% 100%;
}

.donate-regular-check .text-wrapper-13 {
  position: absolute;
  top: 20px;
  left: 89px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #595959;
  font-size: 28px;
  letter-spacing: 2.24px;
  line-height: normal;
}

.donate-regular-check .mail {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 15px;
  left: 24px;
}

.donate-regular-check .AR-VR-3 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 335px;
  left: 1456px;
}

.donate-regular-check .text-wrapper-14 {
  position: absolute;
  width: 212px;
  top: -1px;
  left: 0;
  font-family: "Staatliches", Helvetica;
  font-weight: 400;
  color: #a58c84;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3.6px;
  line-height: 44px;
}

.donate-regular-check .AR-VR-wrapper {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 408px;
  left: 1456px;
}

.donate-regular-check .view-5 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 262px;
  left: 1456px;
}

.donate-regular-check .quick-links {
  position: absolute;
  width: 287px;
  top: 179px;
  left: 1419px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #88746e;
  font-size: 42px;
  text-align: center;
  letter-spacing: 4.2px;
  line-height: 44px;
}

.donate-regular-check .view-6 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 480px;
  left: 1113px;
}

.donate-regular-check .view-7 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 407px;
  left: 1112px;
}

.donate-regular-check .div-wrapper-2 {
  position: absolute;
  width: 265px;
  height: 44px;
  top: 335px;
  left: 1087px;
}

.donate-regular-check .text-wrapper-15 {
  position: absolute;
  width: 265px;
  top: -1px;
  left: 0;
  font-family: "Staatliches", Helvetica;
  font-weight: 400;
  color: #a58c84;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3.6px;
  line-height: 44px;
}

.donate-regular-check .view-8 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 262px;
  left: 1113px;
}

.donate-regular-check .services {
  position: absolute;
  width: 175px;
  top: 179px;
  left: 1131px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #87746e;
  font-size: 42px;
  text-align: center;
  letter-spacing: 4.2px;
  line-height: 44px;
}

.donate-regular-check .overlap-7 {
  position: absolute;
  width: 390px;
  height: 142px;
  top: 230px;
  left: 492px;
}

.donate-regular-check .flexcontainer-i {
  top: 35px;
  left: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  width: 266px;
  height: 107px;
}

.donate-regular-check .vector-2 {
  position: absolute;
  width: 1242px;
  height: 1px;
  top: 582px;
  left: 466px;
}
