/* screen - donateu95detail */

.donateu95detail {
  background-color: var(--provincial-pink);
  height: 927px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 360px;
}

.donateu95detail .nav-C61RwL {
  left: 503px;
  top: -1px;
  width: 344px;
}

.donateu95detail .line-Ebfosa {
  left: 95px;
}

.donateu95detail .arvr_jpg-Ebfosa {
  left: 264px;
}

.donateu95detail .arvr-Q1zyRh {
  height: 20px;
  left: 0px;
  top: 1px;
  width: 27px;
}

.donateu95detail .map_jpg-Ebfosa {
  left: 180px;
}

.donateu95detail .donate_jpg-Ebfosa {
  left: 220px;
}

.donateu95detail .chat_jpg-Ebfosa {
  left: 132px;
}

.donateu95detail .user_jpg-Ebfosa {
  left: 311px;
}

.donateu95detail .view-Ebfosa {
  height: 6px;
  left: 311px;
  width: 20px;
}

.donateu95detail .text_label-5FtNQj {
  height: auto;
  left: 0px;
  letter-spacing: 0.38px;
  position: absolute;
  top: -0px;
  width: 20px;
}

.donateu95detail .arvr-Ebfosa {
  height: 6px;
  left: 269px;
  top: 31px;
  width: 20px;
}

.donateu95detail .arvr-tiYPVO {
  height: auto;
  left: 0px;
  letter-spacing: 0.38px;
  line-height: normal;
  text-align: left;
  top: -0px;
  width: 20px;
}

.donateu95detail .view-aIywlF {
  height: 7px;
  left: 229px;
  width: 12px;
}

.donateu95detail .text_label-LnE1b9 {
  height: auto;
  left: 0px;
  letter-spacing: 0.38px;
  position: absolute;
  top: -0px;
  width: 12px;
}

.donateu95detail .view-d56pal {
  height: 6px;
  left: 180px;
  width: 20px;
}

.donateu95detail .text_label-bk7KDe {
  height: auto;
  left: 0px;
  letter-spacing: 0.38px;
  position: absolute;
  top: -0px;
  width: 20px;
}

.donateu95detail .view-dsQOMj {
  height: 6px;
  left: 135px;
  width: 20px;
}

.donateu95detail .text_label-iHW8al {
  height: auto;
  left: -0px;
  letter-spacing: 0.38px;
  position: absolute;
  top: -0px;
  width: 20px;
}

.donateu95detail .flex-container-i134895876129-Ebfosa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1.1930501461029053px;
  height: 26px;
  left: 34px;
  position: absolute;
  top: 9px;
  width: 63px;
}

.donateu95detail .text0-i134895876129-TDoExI {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.75px;
  line-height: 10.7px;
  position: relative;
  text-align: center;
  text-shadow: 0px 0.9544401168823242px 0.9544401168823242px #00000040;
}

.donateu95detail .span0-KFnlpg {
  letter-spacing: 0.06px;
}

.donateu95detail .text1-i134895876129-TDoExI {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.75px;
  line-height: 10.7px;
  position: relative;
  text-align: center;
  text-shadow: 0px 0.9544401168823242px 0.9544401168823242px #00000040;
}

.donateu95detail .span1-fWRewX {
  letter-spacing: 0.06px;
}

.donateu95detail .vector-6-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 10px;
  position: absolute;
  top: 937px;
  width: 296px;
}

.donateu95detail .x1-C61RwL {
  height: 113px;
  left: 34px;
  top: 65px;
  width: 118px;
}

.donateu95detail .x200-C61RwL {
  color: var(--chicago);
  font-family: var(--font-family-inter);
  font-size: 9.5px;
  font-style: normal;
  font-weight: 400;
  left: 179px;
  top: 118px;
  width: 139px;
}

.donateu95detail .text_label-C61RwL {
  height: auto;
  left: 155px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 339px;
  white-space: nowrap;
  width: auto;
}

.donateu95detail .text_label-VMr6Om {
  height: auto;
  left: 126px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 545px;
  white-space: nowrap;
  width: auto;
}

.donateu95detail .text_label-mzXdH9 {
  height: auto;
  left: 159px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 198px;
  white-space: nowrap;
  width: auto;
}

.donateu95detail .group-24-C61RwL {
  background-color: transparent;
  height: 13px;
  left: 202px;
  position: absolute;
  top: 77px;
  width: 107px;
}

.donateu95detail .group-12-9xHt5x {
  background-color: transparent;
  height: 13px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 107px;
}

.donateu95detail .group-11-NGsoZA {
  background-color: transparent;
  height: 13px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 107px;
}

.donateu95detail .group-10-xmhUVc {
  background-color: transparent;
  height: 13px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 107px;
}

.donateu95detail .frame-54-9ridQQ {
  background-color: transparent;
  height: 13px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 107px;
}

.donateu95detail .text_label-HpZjjS {
  color: #6a6764;
  font-family: var(--font-family-inter);
  font-size: 10.7px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  top: -0px;
  width: auto;
}

.donateu95detail .text_label-QxM5SU {
  color: transparent;
  font-family: var(--font-family-zen_dots-regular);
  font-size: 10.7px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 48px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 364px;
  width: 270px;
}

.donateu95detail .span0-O8P6ws {
  color: var(--black);
  font-style: normal;
}

.donateu95detail .span1-O8P6ws {
  color: #806464;
  font-style: normal;
}

.donateu95detail .span2-O8P6ws {
  color: var(--black);
  font-style: normal;
}

.donateu95detail .group-13-C61RwL {
  background-color: transparent;
  height: 101px;
  left: 32px;
  position: absolute;
  top: 223px;
  width: 297px;
}

.donateu95detail .rectangle-20-WQXeF1 {
  background-color: transparent;
  height: 101px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 295px;
}

.donateu95detail .x2021-WQXeF1 {
  background-color: transparent;
  height: auto;
  left: 114px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 16px;
  width: 165px;
}

.donateu95detail .x1-WQXeF1 {
  height: 68px;
  left: 16px;
  top: 16px;
  width: 68px;
}

.donateu95detail .text_label-2P4qUJ {
  color: var(--bazaar);
  font-family: var(--font-family-inter);
  font-size: 10.7px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 189px;
  letter-spacing: 0.86px;
  position: absolute;
  top: 97px;
  width: auto;
}

.donateu95detail .group-14-C61RwL {
  background-color: transparent;
  height: 124px;
  left: 196px;
  position: absolute;
  top: 402px;
  width: 115px;
}

.donateu95detail .rectangle-30-AX7pWk {
  background-color: #f3f0dc;
  border: 0.7158300280570984px solid;
  border-color: var(--gray-olive);
  border-radius: 11.93px;
  height: 124px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 113px;
}

.donateu95detail .button-detail-CWUhNW {
  align-items: flex-start;
  background-color: transparent;
  gap: 4.772200584411621px;
}

.donateu95detail .button-detail-zQxwby {
  align-items: center;
  background-color: var(--light-apricot);
  border-radius: 4.77px;
  gap: 2.3861002922058105px;
  justify-content: center;
  padding: 2.3861002922058105px 4.772200584411621px;
}

.donateu95detail .text_label-fJ0drx {
  color: var(--chicago-2);
  font-family: var(--font-family-inter);
  font-size: 8.6px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.29px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.donateu95detail .dog-food-1-1-AX7pWk {
  background-color: transparent;
  height: 48px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 48px;
}

.donateu95detail .text_label-AX7pWk {
  color: #584545;
  font-family: var(--font-family-inter);
  font-size: 11.9px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 11px;
  white-space: nowrap;
  width: auto;
}

.donateu95detail .group-C61RwL {
  background-color: transparent;
  height: 124px;
  left: 50px;
  position: absolute;
  top: 402px;
  width: 114px;
}

.donateu95detail .rectangle-29-NOXmfT {
  background-color: #f3f0dc;
  border: 0.7158300280570984px solid;
  border-color: var(--gray-olive);
  border-radius: 11.93px;
  height: 124px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 112px;
}

.donateu95detail .button-detail-zW2vR4 {
  align-items: flex-start;
  background-color: transparent;
  gap: 4.772200584411621px;
}

.donateu95detail .button-detail-cinXjh {
  align-items: center;
  background-color: var(--light-apricot);
  border-radius: 4.77px;
  gap: 2.3861002922058105px;
  justify-content: center;
  padding: 2.3861002922058105px 4.772200584411621px;
}

.donateu95detail .text_label-jis40C {
  color: var(--chicago-2);
  font-family: var(--font-family-inter);
  font-size: 8.6px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.29px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.donateu95detail .text_label-NOXmfT {
  color: #584545;
  font-family: var(--font-family-inter);
  font-size: 11.9px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 11px;
  white-space: nowrap;
  width: auto;
}

.donateu95detail .donation-1-NOXmfT {
  background-color: transparent;
  height: 52px;
  left: 31px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 52px;
}

.donateu95detail .image-2-C61RwL {
  background-color: transparent;
  height: 32px;
  left: 313px;
  object-fit: cover;
  position: absolute;
  top: 166px;
  width: 32px;
}

.donateu95detail .group-26-C61RwL {
  background-color: transparent;
  height: 168px;
  left: 37px;
  position: absolute;
  top: 576px;
  width: 129px;
}

.donateu95detail .group-18-aRbOOb {
  background-color: transparent;
  height: 168px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 135px;
}

.donateu95detail .rectangle-33-l6KuL1 {
  background-color: var(--albescent-white);
  border: 0.7158300280570984px solid;
  border-color: var(--gray-olive);
  border-radius: 11.93px;
  height: 168px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 129px;
}

.donateu95detail .feed-1-l6KuL1 {
  background-color: transparent;
  height: 84px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 75px;
}

.donateu95detail .dog-food-1-l6KuL1 {
  background-color: transparent;
  height: 10px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 109px;
  width: 10px;
}

.donateu95detail .text_label-l6KuL1 {
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 127px;
  width: auto;
}

.donateu95detail .image-4-l6KuL1 {
  background-color: transparent;
  height: 10px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 127px;
  width: 10px;
}

.donateu95detail .heart-1-l6KuL1 {
  background-color: transparent;
  height: 10px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 146px;
  width: 10px;
}

.donateu95detail .x800-l6KuL1 {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 145px;
  width: auto;
}

.donateu95detail .group-25-C61RwL {
  background-color: transparent;
  height: 168px;
  left: 194px;
  position: absolute;
  top: 576px;
  width: 135px;
}

.donateu95detail .rectangle-34-StUjmZ {
  background-color: var(--albescent-white);
  border: 0.7158300280570984px solid;
  border-color: var(--gray-olive);
  border-radius: 11.93px;
  height: 168px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 129px;
}

.donateu95detail .x200-StUjmZ {
  left: 21px;
  top: 145px;
  width: auto;
}

.donateu95detail .feed-2-StUjmZ {
  background-color: transparent;
  height: 84px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 75px;
}

.donateu95detail .dog-food-2-StUjmZ {
  background-color: transparent;
  height: 10px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 109px;
  width: 10px;
}

.donateu95detail .image-5-StUjmZ {
  background-color: transparent;
  height: 10px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 127px;
  width: 10px;
}

.donateu95detail .text_label-StUjmZ {
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 127px;
  width: auto;
}

.donateu95detail .heart-2-StUjmZ {
  background-color: transparent;
  height: 10px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 146px;
  width: 10px;
}

.donateu95detail .image-1-C61RwL {
  background-color: transparent;
  height: 37px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 559px;
  width: 37px;
}

.donateu95detail .nav-VMr6Om {
  left: -0px;
  top: 0px;
  width: 360px;
}

.donateu95detail .line-2hS9rc {
  left: 111px;
}

.donateu95detail .arvr_jpg-2hS9rc {
  left: 280px;
}

.donateu95detail .arvr-NhtjJV {
  height: 20px;
  left: 0px;
  top: 1px;
  width: 27px;
}

.donateu95detail .map_jpg-2hS9rc {
  left: 196px;
}

.donateu95detail .donate_jpg-2hS9rc {
  left: 236px;
}

.donateu95detail .chat_jpg-2hS9rc {
  left: 148px;
}

.donateu95detail .user_jpg-2hS9rc {
  left: 327px;
}

.donateu95detail .view-2hS9rc {
  height: 6px;
  left: 327px;
  width: 20px;
}

.donateu95detail .text_label-nCMRFR {
  height: auto;
  left: 0px;
  letter-spacing: 0.38px;
  position: absolute;
  top: -0px;
  width: 20px;
}

.donateu95detail .arvr-2hS9rc {
  height: 6px;
  left: 285px;
  top: 31px;
  width: 20px;
}

.donateu95detail .arvr-vaIzDd {
  height: auto;
  left: 0px;
  letter-spacing: 0.38px;
  line-height: normal;
  text-align: left;
  top: -0px;
  width: 20px;
}

.donateu95detail .view-GU3JCx {
  height: 7px;
  left: 245px;
  width: 12px;
}

.donateu95detail .text_label-O9BlP9 {
  height: auto;
  left: 0px;
  letter-spacing: 0.38px;
  position: absolute;
  top: -0px;
  width: 12px;
}

.donateu95detail .view-GYB6cI {
  height: 6px;
  left: 196px;
  width: 20px;
}

.donateu95detail .text_label-NdjoXm {
  height: auto;
  left: 0px;
  letter-spacing: 0.38px;
  position: absolute;
  top: -0px;
  width: 20px;
}

.donateu95detail .view-ihjAhs {
  height: 6px;
  left: 151px;
  width: 20px;
}

.donateu95detail .text_label-QBvP9K {
  height: auto;
  left: 0px;
  letter-spacing: 0.38px;
  position: absolute;
  top: -0px;
  width: 20px;
}

.donateu95detail .flex-container-i134896416129-2hS9rc {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1.1930501461029053px;
  height: 26px;
  left: 34px;
  position: absolute;
  top: 9px;
  width: 63px;
}

.donateu95detail .text0-i134896416129-qikREg {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.75px;
  line-height: 10.7px;
  position: relative;
  text-align: center;
  text-shadow: 0px 0.9544401168823242px 0.9544401168823242px #00000040;
}

.donateu95detail .span0-Hga5QA {
  letter-spacing: 0.06px;
}

.donateu95detail .text1-i134896416129-qikREg {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.75px;
  line-height: 10.7px;
  position: relative;
  text-align: center;
  text-shadow: 0px 0.9544401168823242px 0.9544401168823242px #00000040;
}

.donateu95detail .span1-Cc32hH {
  letter-spacing: 0.06px;
}

.donateu95detail .arvr_jpg {
  background-color: transparent;
  height: 22px;
  overflow: hidden;
  position: absolute;
  top: 9px;
  width: 27px;
}

.donateu95detail .button-detail {
  display: flex;
  height: 20.75907325744629px;
  position: relative;
  width: 55.11891555786133px;
}

.donateu95detail .button-regular {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  left: 29px;
  position: absolute;
  top: 94px;
}

.donateu95detail .chat {
  background-color: transparent;
  height: 18px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 25px;
}

.donateu95detail .chat_jpg {
  background-color: transparent;
  height: 22px;
  overflow: hidden;
  position: absolute;
  top: 9px;
  width: 27px;
}

.donateu95detail .donate-2 {
  background-color: transparent;
  height: 20px;
  left: -0px;
  position: absolute;
  top: 1px;
  width: 28px;
}

.donateu95detail .donate_jpg {
  background-color: transparent;
  height: 22px;
  overflow: hidden;
  position: absolute;
  top: 9px;
  width: 27px;
}

.donateu95detail .line {
  background-color: transparent;
  height: 22px;
  position: absolute;
  top: 9px;
  width: 208px;
}

.donateu95detail .logo {
  background-color: transparent;
  height: 34px;
  left: 7px;
  position: absolute;
  top: 3px;
  width: 37px;
}

.donateu95detail .map_jpg {
  background-color: transparent;
  height: 20px;
  position: absolute;
  top: 9px;
  width: 20px;
}

.donateu95detail .nav {
  -webkit-backdrop-filter: blur(7.158300876617432px) brightness(100%);
  backdrop-filter: blur(7.158300876617432px) brightness(100%);
  background-color: var(--provincial-pink);
  height: 43px;
  position: absolute;
}

.donateu95detail .text_label {
  background-color: transparent;
  line-height: normal;
  text-align: left;
}

.donateu95detail .user_jpg {
  background-color: transparent;
  height: 22px;
  position: absolute;
  top: 9px;
  width: 20px;
}

.donateu95detail .vector-1 {
  background-color: transparent;
  height: 22px;
  left: 105px;
  position: absolute;
  top: 9px;
  width: 1px;
}

.donateu95detail .view {
  background-color: transparent;
  position: absolute;
  top: 31px;
}

.donateu95detail .x {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 9.5px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 108px;
  width: auto;
}

.donateu95detail .x1 {
  background-color: transparent;
  object-fit: cover;
  position: absolute;
}

.donateu95detail .x200 {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
}
