/* screen - donateu95supplies-2 */

.donateu95supplies-2 {
  background-color: var(--provincial-pink);
  height: 2044px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.donateu95supplies-2 .rectangle-1-C61RwL {
  background-color: var(--coconut);
  border: 3px solid;
  border-color: var(--lumber);
  border-radius: 20px;
  height: 1110px;
  left: 41px;
  position: absolute;
  top: 220px;
  width: 1350px;
}

.donateu95supplies-2 .text_label-C61RwL {
  background-color: transparent;
  height: auto;
  left: 296px;
  letter-spacing: 3.20px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 324px;
  white-space: nowrap;
  width: auto;
}

.donateu95supplies-2 .text_label-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 1138px;
  letter-spacing: 3.20px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 324px;
  white-space: nowrap;
  width: auto;
}

.donateu95supplies-2 .rectangle-15-C61RwL {
  background-color: transparent;
  height: 147px;
  left: 1118px;
  position: absolute;
  top: 146px;
  width: 322px;
}

.donateu95supplies-2 .text_label-mzXdH9 {
  background-color: transparent;
  height: 91px;
  left: 199px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 766px;
  width: 230px;
}

.donateu95supplies-2 .text_label-QxM5SU {
  background-color: transparent;
  height: 91px;
  left: 161px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1006px;
  width: 230px;
}

.donateu95supplies-2 .x4-C61RwL {
  background-color: transparent;
  height: 159px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 270px;
  width: 167px;
}

.donateu95supplies-2 .tick-box-C61RwL {
  background-color: transparent;
  height: 63px;
  left: 1066px;
  position: absolute;
  top: 318px;
  width: 63px;
}

.donateu95supplies-2 .frame-49-C61RwL {
  background-color: transparent;
  height: 193px;
  left: 313px;
  position: absolute;
  top: 447px;
  width: 804px;
}

.donateu95supplies-2 .dm_process-L0YLt3 {
  border-radius: 5px;
  height: 193px;
  left: 0px;
  top: 0px;
  width: 249px;
}

.donateu95supplies-2 .property-1-default-EjYhxR {
  background-color: transparent;
  border: 2px solid;
  border-color: var(--black);
  height: 147px;
  left: 47px;
  position: relative;
  top: 19px;
  width: 142px;
}

.donateu95supplies-2 .dm_process1-1uI05x {
  background-color: var(--spring-green);
}

.donateu95supplies-2 .text_label-1uI05x {
  background-color: transparent;
  height: 33px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 167px;
  white-space: nowrap;
  width: 138px;
}

.donateu95supplies-2 .dog-bowl-1uI05x {
  background-color: transparent;
  height: 100px;
  left: 20px;
  position: absolute;
  top: 24px;
  width: 100px;
}

.donateu95supplies-2 .dm_process-1-L0YLt3 {
  left: 252px;
  top: 19px;
}

.donateu95supplies-2 .dm_process1-5f252Z {
  background-color: transparent;
}

.donateu95supplies-2 .text_label-5f252Z {
  background-color: transparent;
  height: 29px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 170px;
  white-space: nowrap;
  width: 129px;
}

.donateu95supplies-2 .dm_process-CuHyp1 {
  height: 147px;
  left: 457px;
  top: 19px;
  width: 142px;
}

.donateu95supplies-2 .dm_process1-DVmR88 {
  background-color: var(--silver);
}

.donateu95supplies-2 .text_label-DVmR88 {
  background-color: transparent;
  height: 33px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 167px;
  white-space: nowrap;
  width: 138px;
}

.donateu95supplies-2 .dm_process-1-CuHyp1 {
  left: 662px;
  top: 21px;
}

.donateu95supplies-2 .dm_process1-qiPhZ9 {
  background-color: transparent;
}

.donateu95supplies-2 .text_label-qiPhZ9 {
  background-color: transparent;
  height: 29px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 170px;
  white-space: nowrap;
  width: 129px;
}

.donateu95supplies-2 .checkmark-L0YLt3 {
  background-color: transparent;
  height: 100px;
  left: 682px;
  position: absolute;
  top: 42px;
  width: 100px;
}

.donateu95supplies-2 .check-file-L0YLt3 {
  background-color: transparent;
  height: 100px;
  left: 477px;
  position: absolute;
  top: 46px;
  width: 100px;
}

.donateu95supplies-2 .documents-L0YLt3 {
  background-color: transparent;
  height: 100px;
  left: 272px;
  position: absolute;
  top: 45px;
  width: 100px;
}

.donateu95supplies-2 .inputs-C61RwL {
  left: 409px;
  top: 774px;
  width: 330px;
}

.donateu95supplies-2 .inputs-VMr6Om {
  left: 337px;
  top: 1013px;
  width: 886px;
}

.donateu95supplies-2 .label-text-27Axps {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
}

.donateu95supplies-2 .label-text-QXxskA {
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1.00px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.donateu95supplies-2 .button-regular-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  left: 88px;
  position: absolute;
  top: 1205px;
  width: 387px;
}

.donateu95supplies-2 .button-next-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  left: 1120px;
  position: absolute;
  top: 1205px;
  width: 231px;
}

.donateu95supplies-2 .button-detail-HrCrQZ {
  align-items: flex-start;
  background-color: transparent;
  gap: 20px;
}

.donateu95supplies-2 .button-detail-muIMXx {
  align-items: center;
  background-color: var(--light-apricot);
  border-radius: 20px;
  gap: 10px;
  justify-content: center;
  padding: 10px 20px;
}

.donateu95supplies-2 .text_label-xxHFzr {
  background-color: transparent;
  letter-spacing: 5.40px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.donateu95supplies-2 .shape2-C61RwL {
  background-color: transparent;
  height: 681px;
  left: -397px;
  position: absolute;
  top: 1388px;
  width: 2290px;
}

.donateu95supplies-2 .footer-C61RwL {
  background-color: transparent;
  height: 681px;
  left: -383px;
  position: absolute;
  top: 1363px;
  width: 2290px;
}

.donateu95supplies-2 .copyright-2024-all-rights-reserved-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 824px;
  letter-spacing: 1.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 603px;
  white-space: nowrap;
  width: auto;
}

.donateu95supplies-2 .rectangle-2-iPe1yZ {
  background-color: var(--white);
  border-radius: 20px;
  height: 78px;
  left: 492px;
  position: absolute;
  top: 442px;
  width: 533px;
}

.donateu95supplies-2 .rekindlepetlovegmailcom-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 581px;
  letter-spacing: 2.24px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 462px;
  width: auto;
}

.donateu95supplies-2 .mail-iPe1yZ {
  background-color: transparent;
  height: 47px;
  left: 516px;
  position: absolute;
  top: 457px;
  width: 47px;
}

.donateu95supplies-2 .arvr-iPe1yZ {
  height: 44px;
  left: 1456px;
  top: 335px;
  width: 212px;
}

.donateu95supplies-2 .arvr-AZ7xtO {
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95supplies-2 .view-iPe1yZ {
  height: 44px;
  left: 1456px;
  top: 262px;
  width: 212px;
}

.donateu95supplies-2 .text_label-J1nZEN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95supplies-2 .quick-links-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 1419px;
  letter-spacing: 4.20px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 179px;
  width: 287px;
}

.donateu95supplies-2 .view-CMvW9s {
  height: 44px;
  left: 1113px;
  top: 480px;
  width: 212px;
}

.donateu95supplies-2 .text_label-9cbGt7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95supplies-2 .view-edsI20 {
  height: 44px;
  left: 1112px;
  top: 407px;
  width: 212px;
}

.donateu95supplies-2 .text_label-E9YCvI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95supplies-2 .x-iPe1yZ {
  height: 44px;
  left: 1087px;
  top: 335px;
}

.donateu95supplies-2 .x-2XLZHx {
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
}

.donateu95supplies-2 .view-ur51bv {
  height: 44px;
  left: 1113px;
  top: 262px;
  width: 212px;
}

.donateu95supplies-2 .text_label-b1wTVx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95supplies-2 .services-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 1131px;
  letter-spacing: 4.20px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 179px;
  width: 175px;
}

.donateu95supplies-2 .flex-container-i11054769181465-iPe1yZ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  left: 616px;
  position: absolute;
  top: 265px;
  width: 266px;
}

.donateu95supplies-2 .text0-i11054769181465-UjoxSw {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95supplies-2 .span0-QbNQ5i {
  letter-spacing: 1.10px;
}

.donateu95supplies-2 .text1-i11054769181465-UjoxSw {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95supplies-2 .span1-6nflPG {
  letter-spacing: 1.10px;
}

.donateu95supplies-2 .logo-iPe1yZ {
  left: 492px;
  top: 230px;
}

.donateu95supplies-2 .vector-6-iPe1yZ {
  background-color: transparent;
  height: 1px;
  left: 466px;
  position: absolute;
  top: 582px;
  width: 1242px;
}

.donateu95supplies-2 .frame-50-C61RwL {
  background-color: transparent;
  height: 93px;
  left: 296px;
  position: absolute;
  top: 887px;
  width: 737px;
}

.donateu95supplies-2 .frame-8-HMQWEG {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 737px;
}

.donateu95supplies-2 .text_label-fBfa5W {
  background-color: transparent;
  height: 91px;
  left: 377px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 96px;
}

.donateu95supplies-2 .text_label-10gPQz {
  background-color: transparent;
  height: 91px;
  left: 573px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 130px;
}

.donateu95supplies-2 .text_label-lTs74v {
  background-color: transparent;
  height: 42px;
  left: 836px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21px;
  white-space: nowrap;
  width: auto;
}

.donateu95supplies-2 .select_month-fBfa5W {
  background-color: transparent;
  height: 326px;
  left: 396px;
  position: absolute;
  top: 2px;
  width: 268px;
}

.donateu95supplies-2 .rectangle-4-6OwePt {
  width: 142px;
}

.donateu95supplies-2 .text_label-6OwePt {
  background-color: transparent;
  height: 91px;
  left: -19px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -2px;
  width: 268px;
}

.donateu95supplies-2 .vector-6OwePt {
  left: 166px;
}

.donateu95supplies-2 .select_year-fBfa5W {
  background-color: transparent;
  height: 326px;
  left: 136px;
  position: absolute;
  top: 2px;
  width: 268px;
}

.donateu95supplies-2 .rectangle-4-C3PQdp {
  width: 188px;
}

.donateu95supplies-2 .text_label-C3PQdp {
  background-color: transparent;
  height: 91px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 268px;
}

.donateu95supplies-2 .vector-C3PQdp {
  left: 206px;
}

.donateu95supplies-2 .text_label-kW4o3G {
  background-color: transparent;
  height: 91px;
  left: -76px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 255px;
}

.donateu95supplies-2 .nav-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  backdrop-filter: blur(30px) brightness(100%);
  background-color: var(--provincial-pink);
  height: 181px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 1440px;
}

.donateu95supplies-2 .line-Ebfosa {
  background-color: transparent;
  height: 94px;
  left: 397px;
  position: absolute;
  top: 37px;
  width: 870px;
}

.donateu95supplies-2 .arvr_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 1103px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.donateu95supplies-2 .arvr-Q1zyRh {
  height: 83px;
  left: 2px;
  top: 5px;
  width: 112px;
}

.donateu95supplies-2 .map_jpg-Ebfosa {
  background-color: transparent;
  height: 84px;
  left: 752px;
  position: absolute;
  top: 38px;
  width: 84px;
}

.donateu95supplies-2 .donate_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 920px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.donateu95supplies-2 .donate-8f4v4t {
  background-color: transparent;
  height: 83px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 117px;
}

.donateu95supplies-2 .chat_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 552px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.donateu95supplies-2 .chat-o1hCfn {
  background-color: transparent;
  height: 75px;
  left: 5px;
  position: absolute;
  top: 9px;
  width: 105px;
}

.donateu95supplies-2 .user_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 1301px;
  position: absolute;
  top: 37px;
  width: 83px;
}

.donateu95supplies-2 .view-Ebfosa {
  height: 27px;
  left: 1301px;
  top: 131px;
  width: 85px;
}

.donateu95supplies-2 .text_label-5FtNQj {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95supplies-2 .arvr-Ebfosa {
  height: 27px;
  left: 1125px;
  top: 131px;
  width: 85px;
}

.donateu95supplies-2 .arvr-tiYPVO {
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95supplies-2 .view-aIywlF {
  height: 29px;
  left: 960px;
  top: 131px;
  width: 51px;
}

.donateu95supplies-2 .text_label-LnE1b9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 51px;
}

.donateu95supplies-2 .view-d56pal {
  height: 27px;
  left: 752px;
  top: 131px;
  width: 85px;
}

.donateu95supplies-2 .text_label-bk7KDe {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95supplies-2 .view-dsQOMj {
  height: 27px;
  left: 566px;
  top: 131px;
  width: 85px;
}

.donateu95supplies-2 .text_label-iHW8al {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95supplies-2 .vector-1-Ebfosa {
  background-color: transparent;
  height: 94px;
  left: 441px;
  position: absolute;
  top: 37px;
  width: 1px;
}

.donateu95supplies-2 .flex-container-i110547306129-Ebfosa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  left: 144px;
  position: absolute;
  top: 37px;
  width: 266px;
}

.donateu95supplies-2 .text0-i110547306129-HullOt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95supplies-2 .span0-fZG2mb {
  letter-spacing: 1.10px;
}

.donateu95supplies-2 .text1-i110547306129-HullOt {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95supplies-2 .span1-G6vpwo {
  letter-spacing: 1.10px;
}

.donateu95supplies-2 .logo-Ebfosa {
  left: 29px;
  top: 14px;
}

.donateu95supplies-2 .button-detail {
  display: flex;
  height: 87px;
  position: relative;
  width: 231px;
}

.donateu95supplies-2 .content {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 22px 0px;
  position: relative;
}

.donateu95supplies-2 .dm_process-1 {
  background-color: transparent;
  height: 147px;
  position: absolute;
  width: 142px;
}

.donateu95supplies-2 .inputs {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  height: 78px;
  position: absolute;
}

.donateu95supplies-2 .logo {
  background-color: transparent;
  height: 142px;
  position: absolute;
  width: 157px;
}

.donateu95supplies-2 .state-layer {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: 4px 0px;
  position: relative;
  width: 100%;
}

.donateu95supplies-2 .text-field {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  border: 2.5px solid;
  border-color: var(--black);
  border-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  opacity: 0.5;
  padding: 0px 16px;
  position: relative;
  width: 100%;
}

.donateu95supplies-2 .view {
  background-color: transparent;
  position: absolute;
}

.donateu95supplies-2 .x {
  background-color: transparent;
  position: absolute;
  width: 265px;
}
