/* screen - donateu95regularu95complete */

.donateu95regularu95complete {
  background-color: var(--provincial-pink);
  height: 2419px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.donateu95regularu95complete .shape1-C61RwL {
  background-color: transparent;
  height: 1044px;
  left: -284px;
  position: absolute;
  top: 1px;
  width: 2001px;
}

.donateu95regularu95complete .rectangle-1-C61RwL {
  background-color: var(--coconut);
  border-radius: 20px;
  height: 1426px;
  left: 44px;
  position: absolute;
  top: 220px;
  width: 1350px;
}

.donateu95regularu95complete .text_label-C61RwL {
  background-color: transparent;
  height: auto;
  left: 296px;
  letter-spacing: 3.20px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 324px;
  white-space: nowrap;
  width: auto;
}

.donateu95regularu95complete .text_label-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 1167px;
  letter-spacing: 3.20px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 323px;
  white-space: nowrap;
  width: auto;
}

.donateu95regularu95complete .rectangle-15-C61RwL {
  background-color: transparent;
  height: 147px;
  left: 1118px;
  position: absolute;
  top: 146px;
  width: 322px;
}

.donateu95regularu95complete .x4-C61RwL {
  background-color: transparent;
  height: 159px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 270px;
  width: 167px;
}

.donateu95regularu95complete .tick-box-C61RwL {
  background-color: transparent;
  height: 63px;
  left: 1101px;
  position: absolute;
  top: 316px;
  width: 63px;
}

.donateu95regularu95complete .frame-41-C61RwL {
  background-color: transparent;
  height: 193px;
  left: 313px;
  position: absolute;
  top: 447px;
  width: 804px;
}

.donateu95regularu95complete .dm_process-V0FLZi {
  border-radius: 5px;
  height: 193px;
  left: 0px;
  top: 0px;
  width: 249px;
}

.donateu95regularu95complete .property-1-default-CBvGrL {
  background-color: transparent;
  border: 2px solid;
  border-color: var(--black);
  height: 147px;
  left: 47px;
  position: relative;
  top: 19px;
  width: 142px;
}

.donateu95regularu95complete .dm_process1-V4Lzou {
  background-color: var(--silver);
}

.donateu95regularu95complete .text_label-V4Lzou {
  background-color: transparent;
  height: 33px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 167px;
  white-space: nowrap;
  width: 138px;
}

.donateu95regularu95complete .dm_process-1-V0FLZi {
  background-color: var(--silver);
  left: 252px;
  top: 19px;
}

.donateu95regularu95complete .dm_process1-c7PwwF {
  background-color: transparent;
}

.donateu95regularu95complete .text_label-c7PwwF {
  background-color: transparent;
  height: 29px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 170px;
  white-space: nowrap;
  width: 129px;
}

.donateu95regularu95complete .dm_process-2YE7uX {
  height: 147px;
  left: 457px;
  top: 19px;
  width: 142px;
}

.donateu95regularu95complete .dm_process1-H0dReP {
  background-color: var(--silver);
}

.donateu95regularu95complete .text_label-H0dReP {
  background-color: transparent;
  height: 33px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 167px;
  white-space: nowrap;
  width: 138px;
}

.donateu95regularu95complete .dm_process-1-2YE7uX {
  background-color: transparent;
  left: 662px;
  top: 21px;
}

.donateu95regularu95complete .dm_process1-0OajBo {
  background-color: transparent;
}

.donateu95regularu95complete .text_label-0OajBo {
  background-color: transparent;
  height: 29px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 170px;
  white-space: nowrap;
  width: 129px;
}

.donateu95regularu95complete .coins-V0FLZi {
  background-color: transparent;
  height: 100px;
  left: 68px;
  position: absolute;
  top: 42px;
  width: 100px;
}

.donateu95regularu95complete .checkmark-V0FLZi {
  background-color: transparent;
  height: 100px;
  left: 682px;
  position: absolute;
  top: 42px;
  width: 100px;
}

.donateu95regularu95complete .check-file-V0FLZi {
  background-color: transparent;
  height: 100px;
  left: 477px;
  position: absolute;
  top: 46px;
  width: 100px;
}

.donateu95regularu95complete .documents-V0FLZi {
  background-color: transparent;
  height: 100px;
  left: 272px;
  position: absolute;
  top: 45px;
  width: 100px;
}

.donateu95regularu95complete .shape2-C61RwL {
  background-color: transparent;
  height: 681px;
  left: -399px;
  position: absolute;
  top: 1760px;
  width: 2290px;
}

.donateu95regularu95complete .footer-C61RwL {
  background-color: transparent;
  height: 681px;
  left: -385px;
  position: absolute;
  top: 1743px;
  width: 2290px;
}

.donateu95regularu95complete .copyright-2024-all-rights-reserved-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 824px;
  letter-spacing: 1.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 603px;
  white-space: nowrap;
  width: auto;
}

.donateu95regularu95complete .rectangle-2-iPe1yZ {
  background-color: var(--white);
  border-radius: 20px;
  height: 78px;
  left: 492px;
  position: absolute;
  top: 442px;
  width: 533px;
}

.donateu95regularu95complete .rekindlepetlovegmailcom-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 581px;
  letter-spacing: 2.24px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 462px;
  width: auto;
}

.donateu95regularu95complete .mail-iPe1yZ {
  background-color: transparent;
  height: 47px;
  left: 516px;
  position: absolute;
  top: 457px;
  width: 47px;
}

.donateu95regularu95complete .arvr-iPe1yZ {
  height: 44px;
  left: 1456px;
  top: 335px;
  width: 212px;
}

.donateu95regularu95complete .arvr-AZ7xtO {
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95regularu95complete .view-iPe1yZ {
  height: 44px;
  left: 1456px;
  top: 262px;
  width: 212px;
}

.donateu95regularu95complete .text_label-J1nZEN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95regularu95complete .quick-links-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 1419px;
  letter-spacing: 4.20px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 179px;
  width: 287px;
}

.donateu95regularu95complete .view-CMvW9s {
  height: 44px;
  left: 1113px;
  top: 480px;
  width: 212px;
}

.donateu95regularu95complete .text_label-9cbGt7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95regularu95complete .view-edsI20 {
  height: 44px;
  left: 1112px;
  top: 407px;
  width: 212px;
}

.donateu95regularu95complete .text_label-E9YCvI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95regularu95complete .x-iPe1yZ {
  height: 44px;
  left: 1087px;
  top: 335px;
}

.donateu95regularu95complete .x-2XLZHx {
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
}

.donateu95regularu95complete .view-ur51bv {
  height: 44px;
  left: 1113px;
  top: 262px;
  width: 212px;
}

.donateu95regularu95complete .text_label-b1wTVx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95regularu95complete .services-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 1131px;
  letter-spacing: 4.20px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 179px;
  width: 175px;
}

.donateu95regularu95complete .flex-container-i8781733181465-iPe1yZ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  left: 616px;
  position: absolute;
  top: 265px;
  width: 266px;
}

.donateu95regularu95complete .text0-i8781733181465-Ifrd0X {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95regularu95complete .span0-2q0b7p {
  letter-spacing: 1.10px;
}

.donateu95regularu95complete .text1-i8781733181465-Ifrd0X {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95regularu95complete .span1-MUgj93 {
  letter-spacing: 1.10px;
}

.donateu95regularu95complete .logo-iPe1yZ {
  left: 492px;
  top: 230px;
}

.donateu95regularu95complete .vector-6-iPe1yZ {
  background-color: transparent;
  height: 1px;
  left: 466px;
  position: absolute;
  top: 582px;
  width: 1242px;
}

.donateu95regularu95complete .button-next-C61RwL {
  left: 1124px;
}

.donateu95regularu95complete .button-detail-HrCrQZ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  width: 231px;
}

.donateu95regularu95complete .button-detail-muIMXx {
  align-items: center;
  background-color: var(--light-apricot);
  border-radius: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px 20px;
  width: 231px;
}

.donateu95regularu95complete .text_label-xxHFzr {
  background-color: transparent;
  letter-spacing: 5.40px;
  line-height: normal;
  margin-left: -5.50px;
  margin-right: -5.50px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.donateu95regularu95complete .button-next-VMr6Om {
  left: 92px;
}

.donateu95regularu95complete .button-detail-obQyDY {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  width: 231px;
}

.donateu95regularu95complete .button-detail-nBREgO {
  align-items: center;
  background-color: var(--light-apricot);
  border-radius: 20px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  margin-right: -52.00px;
  padding: 10px 20px;
}

.donateu95regularu95complete .text_label-Sps4dK {
  background-color: transparent;
  letter-spacing: 5.40px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.donateu95regularu95complete .flex-container-8781828-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 91px;
  left: 219px;
  position: absolute;
  top: 1291px;
  width: 1044px;
}

.donateu95regularu95complete .text0-8781828-KoUNNN {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 2.00px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.donateu95regularu95complete .span0-Vw5xBQ {
  letter-spacing: 0.80px;
}

.donateu95regularu95complete .text1-8781828-KoUNNN {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 2.00px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.donateu95regularu95complete .span1-WEwN8P {
  letter-spacing: 0.80px;
}

.donateu95regularu95complete .romance-C61RwL {
  background-color: transparent;
  height: 126px;
  left: 1132px;
  position: absolute;
  top: 1166px;
  width: 122px;
}

.donateu95regularu95complete .nav-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  backdrop-filter: blur(30px) brightness(100%);
  background-color: var(--provincial-pink);
  height: 181px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 1440px;
}

.donateu95regularu95complete .line-Ebfosa {
  background-color: transparent;
  height: 94px;
  left: 397px;
  position: absolute;
  top: 37px;
  width: 870px;
}

.donateu95regularu95complete .arvr_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 1103px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.donateu95regularu95complete .arvr-Q1zyRh {
  height: 83px;
  left: 2px;
  top: 5px;
  width: 112px;
}

.donateu95regularu95complete .map_jpg-Ebfosa {
  background-color: transparent;
  height: 84px;
  left: 752px;
  position: absolute;
  top: 38px;
  width: 84px;
}

.donateu95regularu95complete .donate_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 920px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.donateu95regularu95complete .donate-8f4v4t {
  background-color: transparent;
  height: 83px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 117px;
}

.donateu95regularu95complete .chat_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 552px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.donateu95regularu95complete .chat-o1hCfn {
  background-color: transparent;
  height: 75px;
  left: 5px;
  position: absolute;
  top: 9px;
  width: 105px;
}

.donateu95regularu95complete .user_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 1301px;
  position: absolute;
  top: 37px;
  width: 83px;
}

.donateu95regularu95complete .view-Ebfosa {
  height: 27px;
  left: 1301px;
  top: 131px;
  width: 85px;
}

.donateu95regularu95complete .text_label-5FtNQj {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95regularu95complete .arvr-Ebfosa {
  height: 27px;
  left: 1125px;
  top: 131px;
  width: 85px;
}

.donateu95regularu95complete .arvr-tiYPVO {
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95regularu95complete .view-aIywlF {
  height: 29px;
  left: 960px;
  top: 131px;
  width: 51px;
}

.donateu95regularu95complete .text_label-LnE1b9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 51px;
}

.donateu95regularu95complete .view-d56pal {
  height: 27px;
  left: 752px;
  top: 131px;
  width: 85px;
}

.donateu95regularu95complete .text_label-bk7KDe {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95regularu95complete .view-dsQOMj {
  height: 27px;
  left: 566px;
  top: 131px;
  width: 85px;
}

.donateu95regularu95complete .text_label-iHW8al {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95regularu95complete .vector-1-Ebfosa {
  background-color: transparent;
  height: 94px;
  left: 441px;
  position: absolute;
  top: 37px;
  width: 1px;
}

.donateu95regularu95complete .flex-container-i87816846129-Ebfosa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  left: 144px;
  position: absolute;
  top: 37px;
  width: 266px;
}

.donateu95regularu95complete .text0-i87816846129-ZcUHBO {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95regularu95complete .span0-ywSFSg {
  letter-spacing: 1.10px;
}

.donateu95regularu95complete .text1-i87816846129-ZcUHBO {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95regularu95complete .span1-5PStiB {
  letter-spacing: 1.10px;
}

.donateu95regularu95complete .logo-Ebfosa {
  left: 29px;
  top: 14px;
}

.donateu95regularu95complete .button-detail {
  height: 87px;
  position: relative;
}

.donateu95regularu95complete .button-next {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  position: absolute;
  top: 1483px;
  width: 231px;
}

.donateu95regularu95complete .dm_process-1 {
  height: 147px;
  position: absolute;
  width: 142px;
}

.donateu95regularu95complete .logo {
  background-color: transparent;
  height: 142px;
  position: absolute;
  width: 157px;
}

.donateu95regularu95complete .view {
  background-color: transparent;
  position: absolute;
}

.donateu95regularu95complete .x {
  background-color: transparent;
  position: absolute;
  width: 265px;
}
