/* screen - donateu95regular */

.donateu95regular {
  background-color: var(--provincial-pink);
  height: 2288px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.donateu95regular .shape1-C61RwL {
  background-color: transparent;
  height: 1044px;
  left: -284px;
  position: absolute;
  top: 1px;
  width: 2001px;
}

.donateu95regular .rectangle-1-C61RwL {
  background-color: var(--coconut);
  border: 3px solid;
  border-color: var(--lumber);
  border-radius: 20px;
  height: 1337px;
  left: 45px;
  position: absolute;
  top: 245px;
  width: 1350px;
}

.donateu95regular .text_label-C61RwL {
  background-color: transparent;
  height: auto;
  left: 296px;
  letter-spacing: 3.20px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 324px;
  white-space: nowrap;
  width: auto;
}

.donateu95regular .text_label-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 1167px;
  letter-spacing: 3.20px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 323px;
  white-space: nowrap;
  width: auto;
}

.donateu95regular .rectangle-15-C61RwL {
  background-color: transparent;
  height: 147px;
  left: 1118px;
  position: absolute;
  top: 146px;
  width: 322px;
}

.donateu95regular .pets-3715733_1920-removebg-preview-1-C61RwL {
  background-color: transparent;
  height: 642px;
  left: 302px;
  object-fit: cover;
  position: absolute;
  top: 982px;
  width: 818px;
}

.donateu95regular .text_label-mzXdH9 {
  background-color: transparent;
  height: 91px;
  left: 199px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 766px;
  width: 230px;
}

.donateu95regular .text_label-QxM5SU {
  background-color: transparent;
  height: 91px;
  left: 782px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 766px;
  width: 230px;
}

.donateu95regular .x5-C61RwL {
  background-color: transparent;
  color: var(--donkey-brown);
  font-family: var(--font-family-inter-semibold);
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  height: 91px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 975px;
  width: 338px;
}

.donateu95regular .text_label-2P4qUJ {
  background-color: transparent;
  height: 91px;
  left: 199px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 913px;
  width: 230px;
}

.donateu95regular .frame-8-C61RwL {
  background-color: transparent;
  height: 93px;
  left: 387px;
  position: absolute;
  top: 912px;
  width: 737px;
}

.donateu95regular .text_label-8SyPK4 {
  background-color: transparent;
  height: 91px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 230px;
}

.donateu95regular .text_label-2E7NnY {
  background-color: transparent;
  height: 91px;
  left: 377px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 96px;
}

.donateu95regular .text_label-DyVcNo {
  background-color: transparent;
  height: 91px;
  left: 607px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 130px;
}

.donateu95regular .select_month-8SyPK4 {
  background-color: transparent;
  height: 326px;
  left: 396px;
  position: absolute;
  top: 2px;
  width: 268px;
}

.donateu95regular .rectangle-4-blEEJX {
  width: 142px;
}

.donateu95regular .text_label-blEEJX {
  background-color: transparent;
  height: 91px;
  left: -19px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -2px;
  width: 268px;
}

.donateu95regular .vector-blEEJX {
  left: 166px;
}

.donateu95regular .select_year-8SyPK4 {
  background-color: transparent;
  height: 326px;
  left: 136px;
  position: absolute;
  top: 2px;
  width: 268px;
}

.donateu95regular .rectangle-4-BlVWb4 {
  width: 188px;
}

.donateu95regular .text_label-BlVWb4 {
  background-color: transparent;
  height: 91px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 268px;
}

.donateu95regular .vector-BlVWb4 {
  left: 206px;
}

.donateu95regular .radio-button-group-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  left: 1000px;
  position: absolute;
  top: 787px;
  width: 301px;
}

.donateu95regular .radio-button-GmEpM1 {
  background-color: transparent;
  height: 34px;
  left: 54px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  width: auto;
}

.donateu95regular .border-GmEpM1 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--peach);
  border-radius: 13px;
  height: 26px;
  left: 12px;
  position: absolute;
  top: 11px;
  width: 26px;
}

.donateu95regular .ellipse-1-GmEpM1 {
  background-color: var(--peach);
  border-radius: 13px;
  height: 26px;
  left: 12px;
  position: absolute;
  top: 11px;
  width: 26px;
}

.donateu95regular .inputs-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  height: 78px;
  left: 409px;
  position: absolute;
  top: 774px;
  width: 330px;
}

.donateu95regular .x4-C61RwL {
  background-color: transparent;
  height: 159px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 270px;
  width: 167px;
}

.donateu95regular .tick-box-C61RwL {
  background-color: transparent;
  height: 63px;
  left: 1101px;
  position: absolute;
  top: 316px;
  width: 63px;
}

.donateu95regular .frame-42-C61RwL {
  background-color: transparent;
  height: 193px;
  left: 313px;
  position: absolute;
  top: 447px;
  width: 804px;
}

.donateu95regular .dm_process-sowaWt {
  border-radius: 5px;
  height: 193px;
  left: 0px;
  top: 0px;
  width: 249px;
}

.donateu95regular .property-1-default-axIDoQ {
  background-color: transparent;
  height: 147px;
  left: 47px;
  position: relative;
  top: 19px;
  width: 142px;
}

.donateu95regular .dm_process1-97243n {
  background-color: var(--spring-green);
}

.donateu95regular .text_label-97243n {
  background-color: transparent;
  height: 33px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 168px;
  white-space: nowrap;
  width: 138px;
}

.donateu95regular .dm_process-1-sowaWt {
  left: 252px;
  top: 19px;
}

.donateu95regular .dm_process1-sxNJbh {
  background-color: transparent;
}

.donateu95regular .text_label-sxNJbh {
  background-color: transparent;
  height: 29px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 170px;
  white-space: nowrap;
  width: 129px;
}

.donateu95regular .dm_process-hbV6RT {
  border: 2px solid;
  border-color: var(--black);
  height: 147px;
  left: 457px;
  top: 19px;
  width: 142px;
}

.donateu95regular .dm_process1-BAzAW8 {
  background-color: var(--silver);
}

.donateu95regular .text_label-BAzAW8 {
  background-color: transparent;
  height: 33px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 167px;
  white-space: nowrap;
  width: 138px;
}

.donateu95regular .dm_process-1-hbV6RT {
  left: 662px;
  top: 21px;
}

.donateu95regular .dm_process1-6FAQgI {
  background-color: transparent;
}

.donateu95regular .text_label-6FAQgI {
  background-color: transparent;
  height: 29px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 170px;
  white-space: nowrap;
  width: 129px;
}

.donateu95regular .coins-sowaWt {
  background-color: transparent;
  height: 100px;
  left: 68px;
  position: absolute;
  top: 42px;
  width: 100px;
}

.donateu95regular .checkmark-sowaWt {
  background-color: transparent;
  height: 100px;
  left: 682px;
  position: absolute;
  top: 42px;
  width: 100px;
}

.donateu95regular .check-file-sowaWt {
  background-color: transparent;
  height: 100px;
  left: 477px;
  position: absolute;
  top: 46px;
  width: 100px;
}

.donateu95regular .documents-sowaWt {
  background-color: transparent;
  height: 100px;
  left: 272px;
  position: absolute;
  top: 45px;
  width: 100px;
}

.donateu95regular .shape2-C61RwL {
  background-color: transparent;
  height: 681px;
  left: -395px;
  position: absolute;
  top: 1624px;
  width: 2290px;
}

.donateu95regular .footer-C61RwL {
  background-color: transparent;
  height: 681px;
  left: -395px;
  position: absolute;
  top: 1618px;
  width: 2290px;
}

.donateu95regular .copyright-2024-all-rights-reserved-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 824px;
  letter-spacing: 1.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 603px;
  white-space: nowrap;
  width: auto;
}

.donateu95regular .rectangle-2-iPe1yZ {
  background-color: var(--white);
  border-radius: 20px;
  height: 78px;
  left: 492px;
  position: absolute;
  top: 442px;
  width: 533px;
}

.donateu95regular .rekindlepetlovegmailcom-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 581px;
  letter-spacing: 2.24px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 462px;
  width: auto;
}

.donateu95regular .mail-iPe1yZ {
  background-color: transparent;
  height: 47px;
  left: 516px;
  position: absolute;
  top: 457px;
  width: 47px;
}

.donateu95regular .arvr-iPe1yZ {
  height: 44px;
  left: 1456px;
  top: 335px;
  width: 212px;
}

.donateu95regular .arvr-AZ7xtO {
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95regular .view-iPe1yZ {
  height: 44px;
  left: 1456px;
  top: 262px;
  width: 212px;
}

.donateu95regular .text_label-J1nZEN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95regular .quick-links-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 1419px;
  letter-spacing: 4.20px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 179px;
  width: 287px;
}

.donateu95regular .view-CMvW9s {
  height: 44px;
  left: 1113px;
  top: 480px;
  width: 212px;
}

.donateu95regular .text_label-9cbGt7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95regular .view-edsI20 {
  height: 44px;
  left: 1112px;
  top: 407px;
  width: 212px;
}

.donateu95regular .text_label-E9YCvI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95regular .x-iPe1yZ {
  height: 44px;
  left: 1087px;
  top: 335px;
}

.donateu95regular .x-2XLZHx {
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
}

.donateu95regular .view-ur51bv {
  height: 44px;
  left: 1113px;
  top: 262px;
  width: 212px;
}

.donateu95regular .text_label-b1wTVx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 212px;
}

.donateu95regular .services-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 1131px;
  letter-spacing: 4.20px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 179px;
  width: 175px;
}

.donateu95regular .flex-container-i288313181465-iPe1yZ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  left: 616px;
  position: absolute;
  top: 265px;
  width: 266px;
}

.donateu95regular .text0-i288313181465-6kOfW1 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95regular .span0-7xNNzB {
  letter-spacing: 1.10px;
}

.donateu95regular .text1-i288313181465-6kOfW1 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95regular .span1-33mxEo {
  letter-spacing: 1.10px;
}

.donateu95regular .logo-iPe1yZ {
  left: 492px;
  top: 230px;
}

.donateu95regular .vector-6-iPe1yZ {
  background-color: transparent;
  height: 1px;
  left: 466px;
  position: absolute;
  top: 582px;
  width: 1242px;
}

.donateu95regular .text_label-qr8e7q {
  background-color: transparent;
  height: auto;
  left: -4355px;
  letter-spacing: 3.20px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 422px;
  white-space: nowrap;
  width: auto;
}

.donateu95regular .text_label-J1YQmd {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-zen_dots-regular);
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: -4456px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 332px;
  white-space: nowrap;
  width: auto;
}

.donateu95regular .button-one-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  left: 97px;
  position: absolute;
  top: 1450px;
}

.donateu95regular .button-detail-2QBoq2 {
  align-items: flex-start;
  background-color: transparent;
  gap: 20px;
}

.donateu95regular .button-detail-fkq3bk {
  align-items: center;
  background-color: var(--light-apricot);
  border-radius: 20px;
  gap: 10px;
  justify-content: center;
  padding: 10px 20px;
}

.donateu95regular .text_label-8PIHQm {
  background-color: transparent;
  letter-spacing: 5.40px;
  line-height: normal;
  opacity: 0.9;
  position: relative;
  text-align: left;
  width: fit-content;
}

.donateu95regular .button-next-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  left: 1124px;
  position: absolute;
  top: 1450px;
  width: 231px;
}

.donateu95regular .button-detail-HrCrQZ {
  align-items: flex-start;
  background-color: transparent;
  gap: 20px;
}

.donateu95regular .button-detail-muIMXx {
  align-items: center;
  background-color: var(--light-apricot);
  border-radius: 20px;
  gap: 10px;
  justify-content: center;
  padding: 10px 20px;
}

.donateu95regular .text_label-xxHFzr {
  background-color: transparent;
  letter-spacing: 5.40px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.donateu95regular .nav-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  backdrop-filter: blur(30px) brightness(100%);
  background-color: var(--provincial-pink);
  height: 181px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 1440px;
}

.donateu95regular .line-Ebfosa {
  background-color: transparent;
  height: 94px;
  left: 397px;
  position: absolute;
  top: 37px;
  width: 870px;
}

.donateu95regular .arvr_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 1103px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.donateu95regular .arvr-Q1zyRh {
  height: 83px;
  left: 2px;
  top: 5px;
  width: 112px;
}

.donateu95regular .map_jpg-Ebfosa {
  background-color: transparent;
  height: 84px;
  left: 752px;
  position: absolute;
  top: 38px;
  width: 84px;
}

.donateu95regular .donate_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 920px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.donateu95regular .donate-8f4v4t {
  background-color: transparent;
  height: 83px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 117px;
}

.donateu95regular .chat_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 552px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.donateu95regular .chat-o1hCfn {
  background-color: transparent;
  height: 75px;
  left: 5px;
  position: absolute;
  top: 9px;
  width: 105px;
}

.donateu95regular .user_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 1301px;
  position: absolute;
  top: 37px;
  width: 83px;
}

.donateu95regular .view-Ebfosa {
  height: 27px;
  left: 1301px;
  top: 131px;
  width: 85px;
}

.donateu95regular .text_label-5FtNQj {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95regular .arvr-Ebfosa {
  height: 27px;
  left: 1125px;
  top: 131px;
  width: 85px;
}

.donateu95regular .arvr-tiYPVO {
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95regular .view-aIywlF {
  height: 29px;
  left: 960px;
  top: 131px;
  width: 51px;
}

.donateu95regular .text_label-LnE1b9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 51px;
}

.donateu95regular .view-d56pal {
  height: 27px;
  left: 752px;
  top: 131px;
  width: 85px;
}

.donateu95regular .text_label-bk7KDe {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95regular .view-dsQOMj {
  height: 27px;
  left: 566px;
  top: 131px;
  width: 85px;
}

.donateu95regular .text_label-iHW8al {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 85px;
}

.donateu95regular .vector-1-Ebfosa {
  background-color: transparent;
  height: 94px;
  left: 441px;
  position: absolute;
  top: 37px;
  width: 1px;
}

.donateu95regular .flex-container-i2785546129-Ebfosa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  left: 144px;
  position: absolute;
  top: 37px;
  width: 266px;
}

.donateu95regular .text0-i2785546129-JxYwpm {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95regular .span0-Ckk9Us {
  letter-spacing: 1.10px;
}

.donateu95regular .text1-i2785546129-JxYwpm {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.donateu95regular .span1-Ox9NdL {
  letter-spacing: 1.10px;
}

.donateu95regular .logo-Ebfosa {
  left: 29px;
  top: 14px;
}

.donateu95regular .button-detail {
  display: flex;
  height: 87px;
  position: relative;
  width: 231px;
}

.donateu95regular .dm_process-1 {
  background-color: transparent;
  height: 147px;
  position: absolute;
  width: 142px;
}

.donateu95regular .logo {
  background-color: transparent;
  height: 142px;
  position: absolute;
  width: 157px;
}

.donateu95regular .view {
  background-color: transparent;
  position: absolute;
}

.donateu95regular .x {
  background-color: transparent;
  position: absolute;
  width: 265px;
}
