/* screen - material-records */

.material-records {
  background-color: var(--provincial-pink);
  height: 2595px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.material-records .shape2-C61RwL {
  background-color: transparent;
  height: 681px;
  left: -370px;
  position: absolute;
  top: 1930px;
  width: 2290px;
}

.material-records .footer-C61RwL {
  background-color: transparent;
  height: 681px;
  left: -392px;
  position: absolute;
  top: 1917px;
  width: 2290px;
}

.material-records .copyright-2024-all-rights-reserved-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 824px;
  letter-spacing: 1.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 603px;
  white-space: nowrap;
  width: auto;
}

.material-records .rectangle-2-iPe1yZ {
  background-color: var(--white);
  border-radius: 20px;
  height: 78px;
  left: 492px;
  position: absolute;
  top: 442px;
  width: 533px;
}

.material-records .rekindlepetlovegmailcom-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 581px;
  letter-spacing: 2.24px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 462px;
  width: auto;
}

.material-records .mail-iPe1yZ {
  background-color: transparent;
  height: 47px;
  left: 516px;
  position: absolute;
  top: 457px;
  width: 47px;
}

.material-records .arvr-iPe1yZ {
  height: 44px;
  left: 1456px;
  top: 335px;
  width: 212px;
}

.material-records .arvr-AZ7xtO {
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
  width: 212px;
}

.material-records .view-iPe1yZ {
  height: 44px;
  left: 1456px;
  top: 262px;
  width: 212px;
}

.material-records .text_label-J1nZEN {
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
  width: 212px;
}

.material-records .quick-links-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 1419px;
  letter-spacing: 4.20px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 179px;
  width: 287px;
}

.material-records .view-CMvW9s {
  height: 44px;
  left: 1113px;
  top: 480px;
  width: 212px;
}

.material-records .text_label-9cbGt7 {
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
  width: 212px;
}

.material-records .view-edsI20 {
  height: 44px;
  left: 1112px;
  top: 407px;
  width: 212px;
}

.material-records .text_label-E9YCvI {
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
  width: 212px;
}

.material-records .x-iPe1yZ {
  height: 44px;
  left: 1087px;
  top: 335px;
}

.material-records .x-2XLZHx {
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
}

.material-records .view-ur51bv {
  height: 44px;
  left: 1113px;
  top: 262px;
  width: 212px;
}

.material-records .text_label-b1wTVx {
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
  width: 212px;
}

.material-records .services-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 1131px;
  letter-spacing: 4.20px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 179px;
  width: 175px;
}

.material-records .flex-container-i13476727181465-iPe1yZ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  left: 616px;
  position: absolute;
  top: 265px;
  width: 266px;
}

.material-records .text0-i13476727181465-Vy9Wn8 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.material-records .span0-q83Uzs {
  letter-spacing: 1.10px;
}

.material-records .text1-i13476727181465-Vy9Wn8 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.material-records .span1-aaYNKj {
  letter-spacing: 1.10px;
}

.material-records .logo-iPe1yZ {
  left: 492px;
  top: 230px;
}

.material-records .vector-6-iPe1yZ {
  background-color: transparent;
  height: 1px;
  left: 466px;
  position: absolute;
  top: 582px;
  width: 1242px;
}

.material-records .text_label-C61RwL {
  left: 600px;
  letter-spacing: 4.80px;
  line-height: normal;
  text-align: left;
  top: 241px;
  width: auto;
}

.material-records .group-34-C61RwL {
  background-color: transparent;
  height: 1480px;
  left: 146px;
  position: absolute;
  top: 356px;
  width: 1155px;
}

.material-records .rectangle-1-qQAETk {
  background-color: var(--soapstone);
  border: 3px solid;
  border-color: var(--gray-olive);
  border-radius: 20px;
  height: 1480px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1098px;
}

.material-records .text_label-qQAETk {
  left: 243px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 348px;
  width: 666px;
}

.material-records .text_label-cA1P2C {
  left: 169px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 527px;
  width: 618px;
}

.material-records .text_label-knlr5b {
  left: 169px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 260px;
  width: 618px;
}

.material-records .text_label-yrRJcU {
  left: 505px;
  letter-spacing: 2.40px;
  line-height: normal;
  text-align: left;
  top: 198px;
  width: 618px;
}

.material-records .text_label-PqUGyB {
  left: 246px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 430px;
  width: 645px;
}

.material-records .text_label-TE2RAp {
  left: 243px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 697px;
  width: 429px;
}

.material-records .text_label-D97ZJg {
  left: 244px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 779px;
  width: 385px;
}

.material-records .text_label-CKkfX9 {
  left: 244px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 1024px;
  white-space: nowrap;
  width: 665px;
}

.material-records .text_label-ncVcSO {
  left: 244px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 1105px;
  white-space: nowrap;
  width: 665px;
}

.material-records .text_label-5lNOsS {
  left: 244px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 943px;
  white-space: nowrap;
  width: 665px;
}

.material-records .text_label-knrgDE {
  left: 243px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 861px;
  width: 745px;
}

.material-records .text_label-5Pz9lC {
  left: 244px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 615px;
  width: 213px;
}

.material-records .checked-1-1-qQAETk {
  background-color: transparent;
  height: 127px;
  left: 505px;
  object-fit: cover;
  position: absolute;
  top: 45px;
  width: 127px;
}

.material-records .frame-33-qQAETk {
  background-color: transparent;
  height: 43px;
  left: 128px;
  position: absolute;
  top: 1240px;
  width: 876px;
}

.material-records .line-8-1uOmyz {
  background-color: transparent;
  height: 7px;
  left: 3px;
  position: absolute;
  top: 18px;
  width: 867px;
}

.material-records .ellipse-2-1uOmyz {
  background-color: #fdd4a8;
  border: 3px solid;
  border-color: var(--storm-dust);
  border-radius: 22.5px/21.5px;
  height: 43px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 45px;
}

.material-records .ellipse-3-1uOmyz {
  background-color: var(--soapstone);
  border: 3px solid;
  border-color: var(--storm-dust);
  border-radius: 22.5px/21.5px;
  height: 43px;
  left: 277px;
  position: absolute;
  top: 0px;
  width: 45px;
}

.material-records .ellipse-4-1uOmyz {
  background-color: var(--soapstone);
  border: 3px solid;
  border-color: var(--storm-dust);
  border-radius: 22.5px/21.5px;
  height: 43px;
  left: 554px;
  position: absolute;
  top: 0px;
  width: 45px;
}

.material-records .ellipse-5-1uOmyz {
  background-color: var(--soapstone);
  border: 3px solid;
  border-color: var(--storm-dust);
  border-radius: 22.5px/21.5px;
  height: 43px;
  left: 831px;
  position: absolute;
  top: 0px;
  width: 45px;
}

.material-records .text_label-PJUxUM {
  left: 65px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: center;
  top: 1303px;
  width: auto;
}

.material-records .text_label-Axt346 {
  left: 299px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 1324px;
  white-space: nowrap;
  width: auto;
}

.material-records .text_label-GMbODj {
  left: 641px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 1324px;
  white-space: nowrap;
  width: auto;
}

.material-records .text_label-GvyZu6 {
  left: 920px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 1324px;
  white-space: nowrap;
  width: auto;
}

.material-records .nav-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  backdrop-filter: blur(30px) brightness(100%);
  background-color: var(--provincial-pink);
  height: 181px;
  left: 2px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.material-records .line-Ebfosa {
  background-color: transparent;
  height: 94px;
  left: 397px;
  position: absolute;
  top: 37px;
  width: 870px;
}

.material-records .arvr_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 1103px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.material-records .arvr-Q1zyRh {
  height: 83px;
  left: 2px;
  top: 5px;
  width: 112px;
}

.material-records .map_jpg-Ebfosa {
  background-color: transparent;
  height: 84px;
  left: 752px;
  position: absolute;
  top: 38px;
  width: 84px;
}

.material-records .donate_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 920px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.material-records .donate-8f4v4t {
  background-color: transparent;
  height: 83px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 117px;
}

.material-records .chat_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 552px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.material-records .chat-o1hCfn {
  background-color: transparent;
  height: 75px;
  left: 5px;
  position: absolute;
  top: 9px;
  width: 105px;
}

.material-records .user_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 1301px;
  position: absolute;
  top: 37px;
  width: 83px;
}

.material-records .view-Ebfosa {
  height: 27px;
  left: 1301px;
  top: 131px;
  width: 85px;
}

.material-records .text_label-5FtNQj {
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: -1px;
  width: 85px;
}

.material-records .arvr-Ebfosa {
  height: 27px;
  left: 1125px;
  top: 131px;
  width: 85px;
}

.material-records .arvr-tiYPVO {
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: -1px;
  width: 85px;
}

.material-records .view-aIywlF {
  height: 29px;
  left: 960px;
  top: 131px;
  width: 51px;
}

.material-records .text_label-LnE1b9 {
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: -1px;
  width: 51px;
}

.material-records .view-d56pal {
  height: 27px;
  left: 752px;
  top: 131px;
  width: 85px;
}

.material-records .text_label-bk7KDe {
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: -1px;
  width: 85px;
}

.material-records .view-dsQOMj {
  height: 27px;
  left: 566px;
  top: 131px;
  width: 85px;
}

.material-records .text_label-iHW8al {
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: -1px;
  width: 85px;
}

.material-records .vector-1-Ebfosa {
  background-color: transparent;
  height: 94px;
  left: 441px;
  position: absolute;
  top: 37px;
  width: 1px;
}

.material-records .flex-container-i134767546129-Ebfosa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  left: 144px;
  position: absolute;
  top: 37px;
  width: 266px;
}

.material-records .text0-i134767546129-TC3gtX {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.material-records .span0-HFyMO5 {
  letter-spacing: 1.10px;
}

.material-records .text1-i134767546129-TC3gtX {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.material-records .span1-1wVLxP {
  letter-spacing: 1.10px;
}

.material-records .logo-Ebfosa {
  left: 29px;
  top: 14px;
}

.material-records .logo {
  background-color: transparent;
  height: 142px;
  position: absolute;
  width: 157px;
}

.material-records .text_label {
  background-color: transparent;
  height: auto;
  position: absolute;
}

.material-records .view {
  background-color: transparent;
  position: absolute;
}

.material-records .x {
  background-color: transparent;
  position: absolute;
  width: 265px;
}
