.frame {
  display: flex;
  flex-direction: column;
  height: 3070px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.frame .personal-information {
  position: relative;
  width: 1440px;
  height: 3070px;
}

.frame .div {
  position: relative;
  height: 3070px;
  background-color: #ffffff;
  overflow: hidden;
}

.frame .overlap {
  position: absolute;
  width: 320px;
  height: 336px;
  top: 347px;
  left: 287px;
}

.frame .subtract {
  position: absolute;
  width: 320px;
  height: 320px;
  top: 16px;
  left: 0;
}

.frame .ellipse {
  position: absolute;
  width: 255px;
  height: 255px;
  top: 49px;
  left: 32px;
  object-fit: cover;
}

.frame .vector {
  position: absolute;
  width: 65px;
  height: 72px;
  top: 0;
  left: 2px;
}

.frame .group {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 221px;
  left: 232px;
  background-color: #e3b786d6;
  border-radius: 40px;
}

.frame .img {
  position: absolute;
  width: 40px;
  height: 46px;
  top: 17px;
  left: 20px;
}

.frame .ellipse-2 {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 27px;
  left: 199px;
  background-color: #ff7d8e;
  border-radius: 16.5px;
}

.frame .ellipse-3 {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 160px;
  left: 287px;
  background-color: #ff7d8e;
  border-radius: 16.5px;
}

.frame .overlap-group {
  position: absolute;
  width: 215px;
  height: 210px;
  top: 418px;
  left: 895px;
}

.frame .ellipse-4 {
  position: absolute;
  width: 210px;
  height: 210px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.frame .vector-wrapper {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 150px;
  left: 165px;
  background-color: #e3b786d6;
  border-radius: 25px;
}

.frame .vector-2 {
  position: absolute;
  width: 20px;
  height: 23px;
  top: 13px;
  left: 15px;
}

.frame .div-wrapper {
  position: absolute;
  width: 130px;
  height: 55px;
  top: 638px;
  left: 935px;
  background-color: #d9d9d9;
  border-radius: 15px;
}

.frame .text-wrapper {
  position: absolute;
  top: 12px;
  left: 41px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .overlap-2 {
  position: absolute;
  width: 145px;
  height: 35px;
  top: 741px;
  left: 374px;
  background-color: #faa852;
  border-radius: 15px;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 5px;
  left: 33px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-3 {
  position: absolute;
  top: 702px;
  left: 411px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .overlap-3 {
  position: absolute;
  width: 1440px;
  height: 130px;
  top: 823px;
  left: 0;
  background-color: #fdf3e9;
}

.frame .text-wrapper-4 {
  position: absolute;
  width: 73px;
  top: 43px;
  left: 186px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 35px;
  letter-spacing: 2.8px;
  line-height: normal;
  white-space: nowrap;
}

.frame .overlap-4 {
  position: absolute;
  width: 1440px;
  height: 315px;
  top: -6px;
  left: 0;
}

.frame .rectangle {
  height: 130px;
  top: 185px;
  background-color: #fdf3e9;
  position: absolute;
  width: 1440px;
  left: 0;
}

.frame .vector-3 {
  position: absolute;
  width: 50px;
  height: 62px;
  top: 207px;
  left: 1319px;
}

.frame .text-wrapper-5 {
  position: absolute;
  top: 226px;
  left: 682px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .rectangle-2 {
  height: 169px;
  top: 0;
  background-color: #fdf3e9;
  backdrop-filter: blur(30px) brightness(100%);
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  position: absolute;
  width: 1440px;
  left: 0;
}

.frame .nav {
  position: absolute;
  width: 1440px;
  height: 181px;
  top: 6px;
  left: 0;
  background-color: #fff7f0;
}

.frame .overlap-5 {
  position: absolute;
  width: 1238px;
  height: 146px;
  top: 14px;
  left: 29px;
}

.frame .overlap-6 {
  position: absolute;
  width: 1238px;
  height: 142px;
  top: 0;
  left: 0;
}

.frame .line {
  position: absolute;
  width: 870px;
  height: 94px;
  top: 23px;
  left: 368px;
}

.frame .AR-VR-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 1074px;
}

.frame .AR-VR {
  position: absolute;
  width: 112px;
  height: 83px;
  top: 5px;
  left: 2px;
}

.frame .map-jpg {
  position: absolute;
  width: 84px;
  height: 84px;
  top: 24px;
  left: 723px;
}

.frame .donate-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 891px;
}

.frame .donate {
  position: absolute;
  width: 114px;
  height: 83px;
  top: 5px;
  left: 0;
}

.frame .chat-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 523px;
}

.frame .chat {
  position: absolute;
  width: 105px;
  height: 75px;
  top: 9px;
  left: 5px;
}

.frame .vector-4 {
  position: absolute;
  width: 1px;
  height: 94px;
  top: 23px;
  left: 412px;
}

.frame .flexcontainer {
  top: 23px;
  left: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  width: 266px;
  height: 107px;
}

.frame .text-i {
  position: relative;
  align-self: stretch;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #4c3c3c;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3.15px;
  line-height: 45px;
}

.frame .span {
  letter-spacing: 1.1px;
}

.frame .logo {
  position: absolute;
  width: 157px;
  height: 142px;
  top: 0;
  left: 0;
}

.frame .AR-VR-2 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 1096px;
}

.frame .text-wrapper-6 {
  position: absolute;
  width: 85px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #4c3c3ccc;
  font-size: 20px;
  letter-spacing: 1.6px;
  line-height: normal;
}

.frame .view {
  position: absolute;
  width: 51px;
  height: 29px;
  top: 117px;
  left: 931px;
}

.frame .text-wrapper-7 {
  position: absolute;
  width: 51px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #4c3c3ccc;
  font-size: 20px;
  letter-spacing: 1.6px;
  line-height: normal;
}

.frame .view-2 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 723px;
}

.frame .view-3 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 537px;
}

.frame .user-jpg {
  position: absolute;
  width: 83px;
  height: 93px;
  top: 37px;
  left: 1301px;
}

.frame .view-4 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 131px;
  left: 1301px;
}

.frame .overlap-7 {
  position: absolute;
  width: 1440px;
  height: 130px;
  top: 1750px;
  left: 0;
  background-color: #fdf3e9;
}

.frame .text-wrapper-8 {
  position: absolute;
  width: 73px;
  top: 43px;
  left: 179px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 35px;
  letter-spacing: 2.8px;
  line-height: normal;
  white-space: nowrap;
}

.frame .overlap-8 {
  position: absolute;
  width: 1440px;
  height: 797px;
  top: 953px;
  left: 0;
}

.frame .rectangle-3 {
  position: absolute;
  width: 1440px;
  height: 200px;
  top: 0;
  left: 0;
  background-color: #fdf3e980;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
}

.frame .rectangle-4 {
  height: 200px;
  top: 199px;
  background-color: #fdf3e980;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
  position: absolute;
  width: 1440px;
  left: 0;
}

.frame .rectangle-5 {
  height: 200px;
  top: 597px;
  background-color: #fdf3e980;
  position: absolute;
  width: 1440px;
  left: 0;
}

.frame .rectangle-6 {
  height: 200px;
  top: 398px;
  background-color: #fdf3e980;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
  position: absolute;
  width: 1440px;
  left: 0;
}

.frame .text-wrapper-9 {
  position: absolute;
  top: 65px;
  left: 308px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 35px;
  letter-spacing: 2.8px;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-10 {
  position: absolute;
  top: 476px;
  left: 308px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 35px;
  letter-spacing: 2.8px;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-11 {
  position: absolute;
  top: 675px;
  left: 308px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 35px;
  letter-spacing: 2.8px;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-12 {
  position: absolute;
  top: 277px;
  left: 308px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 35px;
  letter-spacing: 2.8px;
  line-height: normal;
  white-space: nowrap;
}

.frame .vector-5 {
  position: absolute;
  width: 75px;
  height: 93px;
  top: 428px;
  left: 141px;
}

.frame .IOS-arrow-RTL {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 269px;
  left: 1149px;
}

.frame .IOS-arrow-RTL-2 {
  height: 60px;
  top: 62px;
  left: 1149px;
  position: absolute;
  width: 60px;
}

.frame .IOS-arrow-RTL-3 {
  height: 60px;
  top: 459px;
  left: 1149px;
  position: absolute;
  width: 60px;
}

.frame .IOS-arrow-RTL-4 {
  height: 59px;
  top: 648px;
  left: 1149px;
  position: absolute;
  width: 60px;
}

.frame .vector-6 {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 659px;
  left: 141px;
}

.frame .vector-7 {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 261px;
  left: 142px;
}

.frame .group-2 {
  position: absolute;
  width: 83px;
  height: 84px;
  top: 46px;
  left: 134px;
}

.frame .overlap-9 {
  position: absolute;
  width: 1440px;
  height: 399px;
  top: 1880px;
  left: 0;
}

.frame .text-wrapper-13 {
  position: absolute;
  top: 78px;
  left: 308px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 35px;
  letter-spacing: 2.8px;
  line-height: normal;
  white-space: nowrap;
}

.frame .vector-8 {
  position: absolute;
  width: 52px;
  height: 100px;
  top: 50px;
  left: 154px;
}

.frame .vector-9 {
  position: absolute;
  width: 78px;
  height: 92px;
  top: 253px;
  left: 141px;
}

.frame .IOS-arrow-RTL-5 {
  height: 59px;
  top: 51px;
  left: 1147px;
  position: absolute;
  width: 60px;
}

.frame .IOS-arrow-RTL-6 {
  height: 59px;
  top: 252px;
  left: 1149px;
  position: absolute;
  width: 60px;
}

.frame .overlap-10 {
  position: absolute;
  width: 2290px;
  height: 689px;
  top: 2381px;
  left: -415px;
}

.frame .shape {
  position: absolute;
  width: 1440px;
  height: 662px;
  top: 27px;
  left: 415px;
}

.frame .footer {
  position: absolute;
  width: 2290px;
  height: 681px;
  top: 0;
  left: 0;
  background-color: transparent;
}

.frame .p {
  position: absolute;
  top: 603px;
  left: 824px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #484848;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.frame .overlap-group-2 {
  position: absolute;
  width: 533px;
  height: 78px;
  top: 442px;
  left: 492px;
  background-image: url(./img/rectangle-2.png);
  background-size: 100% 100%;
}

.frame .text-wrapper-14 {
  position: absolute;
  top: 20px;
  left: 89px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #595959;
  font-size: 28px;
  letter-spacing: 2.24px;
  line-height: normal;
}

.frame .mail {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 15px;
  left: 24px;
}

.frame .AR-VR-3 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 335px;
  left: 1456px;
}

.frame .text-wrapper-15 {
  position: absolute;
  width: 212px;
  top: -1px;
  left: 0;
  font-family: "Staatliches", Helvetica;
  font-weight: 400;
  color: #a58c84;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3.6px;
  line-height: 44px;
}

.frame .AR-VR-wrapper {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 408px;
  left: 1456px;
}

.frame .view-5 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 262px;
  left: 1456px;
}

.frame .quick-links {
  position: absolute;
  width: 287px;
  top: 179px;
  left: 1419px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #88746e;
  font-size: 42px;
  text-align: center;
  letter-spacing: 4.2px;
  line-height: 44px;
}

.frame .view-6 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 480px;
  left: 1113px;
}

.frame .view-7 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 407px;
  left: 1112px;
}

.frame .div-wrapper-2 {
  position: absolute;
  width: 265px;
  height: 44px;
  top: 335px;
  left: 1087px;
}

.frame .text-wrapper-16 {
  position: absolute;
  width: 265px;
  top: -1px;
  left: 0;
  font-family: "Staatliches", Helvetica;
  font-weight: 400;
  color: #a58c84;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3.6px;
  line-height: 44px;
}

.frame .view-8 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 262px;
  left: 1113px;
}

.frame .services {
  position: absolute;
  width: 175px;
  top: 179px;
  left: 1131px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #87746e;
  font-size: 42px;
  text-align: center;
  letter-spacing: 4.2px;
  line-height: 44px;
}

.frame .overlap-11 {
  position: absolute;
  width: 390px;
  height: 142px;
  top: 230px;
  left: 492px;
}

.frame .flexcontainer-i {
  top: 35px;
  left: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  width: 266px;
  height: 107px;
}

.frame .vector-10 {
  position: absolute;
  width: 1242px;
  height: 5px;
  top: 579px;
  left: 466px;
}
