.text-wrapper-6 {
  position: absolute;
  width: 87px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #4c3c3ccc;
  font-size: 20px;
  letter-spacing: 1.6px;
  line-height: normal;
}

.text-wrapper-15{
    position: absolute;
    width: 87px;
    top: -1px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #4c3c3ccc;
    font-size: 20px;
    letter-spacing: 1.6px;
    line-height: normal;
  }

  .text-wrapper-16 {
    position: absolute;
    width: 87px;
    top: -1px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #4c3c3ccc;
    font-size: 20px;
    letter-spacing: 1.6px;
    line-height: normal;
  }

  .text-wrapper-19 {
    position: absolute;
    width: 87px;
    top: -1px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #4c3c3ccc;
    font-size: 20px;
    letter-spacing: 1.6px;
    line-height: normal;
  }

  .register .text-wrapper-9 {
    position: absolute;
    width: 87px;
    top: -1px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #4c3c3ccc;
    font-size: 20px;
    letter-spacing: 1.6px;
    line-height: normal;
  }

 .nav {
    position: absolute;
    width: 1460px;
    height: 173px;
    top: -7px;
    left: -2px;
    background-color: #fff7f0;
    border: 2px solid;
    border-color: #c7c3c3;
    backdrop-filter: blur(30px) brightness(100%);
    -webkit-backdrop-filter: blur(30px) brightness(100%);
  }