/* screen - password-2 */

.password-2 {
  background-color: var(--provincial-pink);
  margin: 0px;
  min-height: 1636px;
  min-width: 1440px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.password-2 .view-C61RwL {
  background-color: var(--coconut);
  border: 3px solid;
  border-color: var(--frangipani);
  border-radius: 20px;
  height: 764px;
  left: calc(50.00% - 51px);
  position: absolute;
  top: 245px;
  width: 717px;
}

.password-2 .member-button-C61RwL {
  background-color: transparent;
  height: 66px;
  left: calc(50.00% + 210px);
  position: absolute;
  top: 883px;
  width: 228px;
}

.password-2 .inputs-password-C61RwL {
  top: 745px;
}

.password-2 .password-C61RwL {
  background-color: transparent;
  height: 55px;
  left: calc(50.00% + 23px);
  position: absolute;
  top: 752px;
  width: 56px;
}

.password-2 .password-RPdzxH {
  background-color: var(--tan-hide);
  border-radius: 28px/27.5px;
  height: 55px;
  left: calc(50.00% - 28px);
  position: absolute;
  top: 0px;
  width: 56px;
}

.password-2 .password-pXz6sQ {
  background-color: transparent;
  height: 37px;
  left: calc(50.00% - 18px);
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 37px;
}

.password-2 .inputs-password-VMr6Om {
  top: 643px;
}

.password-2 .password-VMr6Om {
  background-color: transparent;
  height: 55px;
  left: calc(50.00% + 23px);
  position: absolute;
  top: 649px;
  width: 56px;
}

.password-2 .password-vxSW0R {
  background-color: var(--tan-hide);
  border-radius: 28px/27.5px;
  height: 55px;
  left: calc(50.00% - 28px);
  position: absolute;
  top: 0px;
  width: 56px;
}

.password-2 .password-SyT14l {
  background-color: transparent;
  height: 37px;
  left: calc(50.00% - 18px);
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 37px;
}

.password-2 .text_label-C61RwL {
  height: auto;
  left: calc(50.00% + 173px);
  letter-spacing: 4.20px;
  line-height: normal;
  text-align: left;
  top: 570px;
  width: auto;
}

.password-2 .text_label-VMr6Om {
  color: var(--chicago);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: calc(50.00% - 649px);
  letter-spacing: 6.00px;
  line-height: normal;
  text-align: left;
  top: 235px;
  width: auto;
}

.password-2 .line-9-C61RwL {
  background-color: transparent;
  height: 2px;
  left: calc(50.00% - 351px);
  position: absolute;
  top: 265px;
  width: 302px;
}

.password-2 .dog-4-1-C61RwL {
  background-color: transparent;
  height: 138px;
  left: calc(50.00% + 243px);
  position: absolute;
  top: 294px;
  width: 146px;
}

.password-2 .view-VMr6Om {
  background-color: transparent;
  height: 92px;
  left: calc(50.00% + 180px);
  position: absolute;
  top: 432px;
  width: 270px;
}

.password-2 .view-5l5ivn {
  background-color: var(--negroni);
  border-radius: 6px;
  height: 92px;
  left: calc(50.00% - 135px);
  position: absolute;
  top: 0px;
  width: 268px;
}

.password-2 .text_label-5l5ivn {
  height: auto;
  left: calc(50.00% - 88px);
  letter-spacing: 6.00px;
  line-height: normal;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: auto;
}

.password-2 .shape2-C61RwL {
  background-color: transparent;
  bottom: 0px;
  height: 681px;
  left: -25.69%;
  position: absolute;
  width: 100%;
}

.password-2 .footer-C61RwL {
  background-color: transparent;
  bottom: -32px;
  height: 681px;
  left: calc(50.00% - 1090px);
  position: absolute;
  width: 2290px;
}

.password-2 .copyright-2024-all-rights-reserved-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 321px);
  letter-spacing: 1.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 604px;
  white-space: nowrap;
  width: auto;
}

.password-2 .rectangle-2-iPe1yZ {
  background-color: var(--white);
  border-radius: 20px;
  height: 78px;
  left: 492px;
  position: absolute;
  top: 442px;
  width: 533px;
}

.password-2 .rekindlepetlovegmailcom-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 581px;
  letter-spacing: 2.24px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 463px;
  width: auto;
}

.password-2 .mail-iPe1yZ {
  background-color: transparent;
  height: 47px;
  left: 516px;
  position: absolute;
  top: 457px;
  width: 47px;
}

.password-2 .arvr-iPe1yZ {
  height: 44px;
  right: 622px;
  top: 335px;
  width: 212px;
}

.password-2 .arvr-AZ7xtO {
  height: 100%;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: 0px;
  width: 100%;
}

.password-2 .view-iPe1yZ {
  background-color: transparent;
  height: 44px;
  position: absolute;
  right: 622px;
  top: 262px;
  width: 212px;
}

.password-2 .text_label-J1nZEN {
  height: 100%;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: 0px;
  width: 100%;
}

.password-2 .quick-links-iPe1yZ {
  background-color: transparent;
  height: auto;
  letter-spacing: 4.20px;
  line-height: 44px;
  position: absolute;
  right: 584px;
  text-align: center;
  top: 180px;
  width: 287px;
}

.password-2 .view-CMvW9s {
  background-color: transparent;
  height: 44px;
  position: absolute;
  right: 965px;
  top: 480px;
  width: 212px;
}

.password-2 .text_label-9cbGt7 {
  height: 100%;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: 0px;
  width: 100%;
}

.password-2 .view-edsI20 {
  background-color: transparent;
  height: 44px;
  position: absolute;
  right: 966px;
  top: 407px;
  width: 212px;
}

.password-2 .text_label-E9YCvI {
  height: 100%;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: 0px;
  width: 100%;
}

.password-2 .x-iPe1yZ {
  height: 44px;
  right: 938px;
  top: 335px;
  width: 265px;
}

.password-2 .x-2XLZHx {
  height: 100%;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: 0px;
  width: 100%;
}

.password-2 .view-ur51bv {
  background-color: transparent;
  height: 44px;
  position: absolute;
  right: 965px;
  top: 262px;
  width: 212px;
}

.password-2 .text_label-b1wTVx {
  height: 100%;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: 0px;
  width: 100%;
}

.password-2 .services-iPe1yZ {
  background-color: transparent;
  height: auto;
  letter-spacing: 4.20px;
  line-height: 44px;
  position: absolute;
  right: 984px;
  text-align: center;
  top: 180px;
  width: 175px;
}

.password-2 .flex-container-i13887291181465-iPe1yZ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  left: 616px;
  position: absolute;
  top: 265px;
  width: 266px;
}

.password-2 .text0-i13887291181465-7bqOot {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.password-2 .span0-JWbm2Z {
  letter-spacing: 1.10px;
}

.password-2 .text1-i13887291181465-7bqOot {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.password-2 .span1-aMZdZW {
  letter-spacing: 1.10px;
}

.password-2 .logo-iPe1yZ {
  left: 492px;
  top: 230px;
}

.password-2 .vector-6-iPe1yZ {
  background-color: transparent;
  height: 1px;
  left: calc(50.00% - 679px);
  position: absolute;
  top: 582px;
  width: 1242px;
}

.password-2 .nav-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  backdrop-filter: blur(30px) brightness(100%);
  background-color: var(--provincial-pink);
  border: 2px solid;
  border-color: var(--cloud);
  height: 185px;
  left: -2px;
  position: absolute;
  top: -7px;
  width: calc(100.00% + 4px);
}

.password-2 .line-Ebfosa {
  background-color: transparent;
  height: 94px;
  position: absolute;
  right: 177px;
  top: 37px;
  width: 870px;
}

.password-2 .arvr_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  overflow: hidden;
  position: absolute;
  right: 227px;
  top: 38px;
  width: 114px;
}

.password-2 .arvr-Q1zyRh {
  height: 83px;
  left: 2px;
  top: 5px;
  width: 112px;
}

.password-2 .map_jpg-Ebfosa {
  background-color: transparent;
  height: 84px;
  position: absolute;
  right: 608px;
  top: 38px;
  width: 84px;
}

.password-2 .donate_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  overflow: hidden;
  position: absolute;
  right: 410px;
  top: 38px;
  width: 114px;
}

.password-2 .donate-8f4v4t {
  background-color: transparent;
  height: 83px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 117px;
}

.password-2 .chat_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  overflow: hidden;
  position: absolute;
  right: 778px;
  top: 38px;
  width: 114px;
}

.password-2 .chat-o1hCfn {
  background-color: transparent;
  height: 75px;
  left: 5px;
  position: absolute;
  top: 9px;
  width: 105px;
}

.password-2 .user_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  position: absolute;
  right: 60px;
  top: 37px;
  width: 83px;
}

.password-2 .view-Ebfosa {
  background-color: transparent;
  height: 27px;
  position: absolute;
  right: 58px;
  top: 131px;
  width: 85px;
}

.password-2 .text_label-5FtNQj {
  height: 100%;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: 0px;
  width: 100%;
}

.password-2 .arvr-Ebfosa {
  height: 27px;
  right: 234px;
  top: 131px;
  width: 85px;
}

.password-2 .arvr-tiYPVO {
  height: 100%;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: 0px;
  width: 100%;
}

.password-2 .view-aIywlF {
  background-color: transparent;
  height: 29px;
  position: absolute;
  right: 433px;
  top: 131px;
  width: 51px;
}

.password-2 .text_label-LnE1b9 {
  height: 100%;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: 0px;
  width: 100%;
}

.password-2 .view-d56pal {
  background-color: transparent;
  height: 27px;
  position: absolute;
  right: 607px;
  top: 131px;
  width: 85px;
}

.password-2 .text_label-bk7KDe {
  height: 100%;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: 0px;
  width: 100%;
}

.password-2 .view-dsQOMj {
  background-color: transparent;
  height: 27px;
  position: absolute;
  right: 793px;
  top: 131px;
  width: 85px;
}

.password-2 .text_label-iHW8al {
  height: 100%;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: 0px;
  width: 100%;
}

.password-2 .vector-1-Ebfosa {
  background-color: transparent;
  height: 94px;
  left: 441px;
  position: absolute;
  top: 37px;
  width: 1px;
}

.password-2 .flex-container-i138872926129-Ebfosa {
  align-items: flex-start;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  left: 144px;
  position: absolute;
  top: 38px;
  width: 266px;
}

.password-2 .text0-i138872926129-JPDz1B {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.password-2 .span0-xI8hMu {
  letter-spacing: 1.10px;
}

.password-2 .text1-i138872926129-JPDz1B {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.password-2 .span1-9S4lj0 {
  letter-spacing: 1.10px;
}

.password-2 .logo-Ebfosa {
  cursor: pointer;
  left: 29px;
  top: 14px;
}

.password-2 .content {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 18px 0px;
  position: relative;
}

.password-2 .inputs-password {
  align-items: flex-start;
  background-color: transparent;
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  height: 68px;
  left: calc(50.00% + 103px);
  position: absolute;
  width: 443px;
}

.password-2 .logo {
  background-color: transparent;
  height: 142px;
  position: absolute;
  width: 157px;
}

.password-2 .state-layer {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: 4px 0px;
  position: relative;
  width: 100%;
}

.password-2 .text-field {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  border: 2.5px solid;
  border-color: var(--tan-hide);
  border-radius: 30px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  padding: 0px 16px;
  position: relative;
  width: 100%;
}

.password-2 .text_label {
  background-color: transparent;
  position: absolute;
}

.password-2 .x {
  background-color: transparent;
  position: absolute;
}
