.pet-information {
  background-color: #fff7f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.pet-information .div {
  background-color: #fff7f0;
  overflow: hidden;
  width: 1440px;
  height: 3038px;
  position: relative;
}

.pet-information .overlap {
  position: absolute;
  width: 2290px;
  height: 768px;
  top: 2368px;
  left: -370px;
}

.pet-information .shape {
  position: absolute;
  width: 2290px;
  height: 681px;
  top: 87px;
  left: 0;
}

.pet-information .footer {
  position: absolute;
  width: 2290px;
  height: 681px;
  top: 0;
  left: 0;
  background-color: transparent;
}

.pet-information .text-wrapper {
  position: absolute;
  top: 603px;
  left: 824px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #484848;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.pet-information .overlap-group {
  position: absolute;
  width: 533px;
  height: 78px;
  top: 442px;
  left: 492px;
  background-size: 100% 100%;
  background-color: #FFFFFF;
  border-radius: 25px;
  opacity: 0.8;
}

.pet-information .text-wrapper-2 {
  position: absolute;
  top: 20px;
  left: 89px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #595959;
  font-size: 28px;
  letter-spacing: 2.24px;
  line-height: normal;
}

.pet-information .mail {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 15px;
  left: 24px;
}

.pet-information .AR-VR {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 335px;
  left: 1456px;
}

.pet-information .text-wrapper-3 {
  position: absolute;
  width: 212px;
  top: -1px;
  left: 0;
  font-family: "Staatliches", Helvetica;
  font-weight: 400;
  color: #a58c84;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3.6px;
  line-height: 44px;
}

.pet-information .view {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 262px;
  left: 1456px;
}

.pet-information .quick-links {
  position: absolute;
  width: 287px;
  top: 179px;
  left: 1419px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #88746e;
  font-size: 42px;
  text-align: center;
  letter-spacing: 4.2px;
  line-height: 44px;
}

.pet-information .div-wrapper {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 480px;
  left: 1113px;
}

.pet-information .view-2 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 407px;
  left: 1112px;
}

.pet-information .div-wrapper-2 {
  position: absolute;
  width: 265px;
  height: 44px;
  top: 335px;
  left: 1087px;
}

.pet-information .text-wrapper-4 {
  position: absolute;
  width: 265px;
  top: -1px;
  left: 0;
  font-family: "Staatliches", Helvetica;
  font-weight: 400;
  color: #a58c84;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3.6px;
  line-height: 44px;
}

.pet-information .view-3 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 262px;
  left: 1113px;
}

.pet-information .services {
  position: absolute;
  width: 175px;
  top: 179px;
  left: 1131px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #87746e;
  font-size: 42px;
  text-align: center;
  letter-spacing: 4.2px;
  line-height: 44px;
}

.pet-information .overlap-group-2 {
  position: absolute;
  width: 390px;
  height: 142px;
  top: 230px;
  left: 492px;
}

.pet-information .flexcontainer {
  top: 35px;
  left: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  width: 266px;
  height: 107px;
}

.pet-information .text-i {
  position: relative;
  align-self: stretch;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #4c3c3c;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3.15px;
  line-height: 45px;
}

.pet-information .span {
  letter-spacing: 1.1px;
}

.pet-information .logo {
  position: absolute;
  width: 157px;
  height: 142px;
  top: 0;
  left: 0;
}

.pet-information .vector {
  position: absolute;
  width: 1242px;
  height: 3px;
  top: 582px;
  left: 466px;
}

.pet-information .overlap-2 {
  position: absolute;
  width: 1228px;
  height: 2026px;
  top: 250px;
  left: 106px;
  background-color: #fffefe;
  border-radius: 20px;
  border: 3px solid;
  border-color: #fae5ce;
}

.pet-information .overlap-wrapper {
  position: absolute;
  width: 377px;
  height: 74px;
  top: 1871px;
  left: 749px;
}

.pet-information .overlap-3 {
  position: relative;
  height: 74px;
}

.pet-information .rectangle {
  position: absolute;
  width: 363px;
  height: 66px;
  top: 20px;
  left: 14px;
  background-color: #fee3c8;
  border-radius: 30px;
}

.pet-information .text-wrapper-5 {
  position: absolute;
  top: 32px;
  left: 99px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #595959e0;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3.15px;
  line-height: 45px;
  white-space: nowrap;
}

.pet-information .text-wrapper-5:hover {
  color: #FFFFFF;
}

.pet-information .dog {
  position: absolute;
  width: 73px;
  height: 73px;
  top: 12px;
  left: 0;
  object-fit: cover;
}

.pet-information .dog2 {
  position: absolute;
  width: 73px;
  height: 73px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.pet-information .text-wrapper-6 {
  position: absolute;
  width: 1024px;
  top: 1587px;
  left: 104px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #595959;
  font-size: 40px;
  letter-spacing: 6px;
  line-height: normal;
}

.pet-information .phone {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 1465px;
  left: 1030px;
}

.pet-information .text-wrapper-7 {
  position: absolute;
  top: 1471px;
  left: 270px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #595959;
  font-size: 44px;
  letter-spacing: 6.6px;
  line-height: normal;
}

.pet-information .pet-friendly {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 1434px;
  left: 104px;
  object-fit: cover;
}

.pet-information .overlap-4 {
  position: absolute;
  width: 302px;
  height: 269px;
  top: 1120px;
  left: 827px;
  background-color: #fff8e5;
  border-radius: 22px;
}

.pet-information .text-wrapper-8 {
  position: absolute;
  top: 151px;
  left: 106px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ea9132cc;
  font-size: 44px;
  letter-spacing: 3.52px;
  line-height: normal;
}

.pet-information .line {
  left: 63px;
  position: absolute;
  width: 175px;
  height: 2px;
  top: 109px;
}

.pet-information .text-wrapper-9 {
  position: absolute;
  top: 45px;
  left: 103px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #b96865cc;
  font-size: 44px;
  letter-spacing: 6.6px;
  line-height: normal;
}

.pet-information .overlap-5 {
  position: absolute;
  width: 303px;
  height: 269px;
  top: 1120px;
  left: 466px;
  background-color: #fff8e5;
  border-radius: 22px;
}

.pet-information .text-wrapper-10 {
  position: absolute;
  top: 151px;
  left: 82px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ea9132cc;
  font-size: 44px;
  letter-spacing: 3.52px;
  line-height: normal;
}

.pet-information .img {
  left: 65px;
  position: absolute;
  width: 175px;
  height: 2px;
  top: 109px;
}

.pet-information .text-wrapper-11 {
  position: absolute;
  top: 45px;
  left: 104px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #b96865cc;
  font-size: 44px;
  letter-spacing: 6.6px;
  line-height: normal;
}

.pet-information .overlap-6 {
  position: absolute;
  width: 302px;
  height: 269px;
  top: 1120px;
  left: 106px;
  background-color: #fff8e5;
  border-radius: 22px;
}

.pet-information .text-wrapper-12 {
  position: absolute;
  top: 151px;
  left: 58px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ea9132cc;
  font-size: 44px;
  letter-spacing: 3.52px;
  line-height: normal;
}

.pet-information .line-2 {
  left: 64px;
  position: absolute;
  width: 175px;
  height: 2px;
  top: 109px;
}

.pet-information .text-wrapper-13 {
  position: absolute;
  top: 44px;
  left: 103px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #b96865cc;
  font-size: 44px;
  letter-spacing: 6.6px;
  line-height: normal;
}

.pet-information .text-wrapper-14 {
  position: absolute;
  top: 1005px;
  left: 182px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #595959;
  font-size: 48px;
  letter-spacing: 7.2px;
  line-height: normal;
}

.pet-information .map-pin {
  position: absolute;
  width: 77px;
  height: 77px;
  top: 993px;
  left: 87px;
}

.pet-information .heart {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 903px;
  left: 1023px;
  object-fit: cover;
}

.pet-information .text-wrapper-15 {
  position: absolute;
  width: 274px;
  height: 101px;
  top: 891px;
  left: 60px;
  font-family: "Sriracha", Helvetica;
  font-weight: 400;
  color: #595959e0;
  font-size: 64px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 24px;
}

.pet-information .circle {
  position: absolute;
  width: 69px;
  height: 21px;
  top: 844px;
  left: 576px;
}

.pet-information .ellipse {
  left: 0;
  background-color: #faa852b2;
  position: absolute;
  width: 22px;
  height: 21px;
  top: 0;
  border-radius: 11px/10.5px;
}

.pet-information .ellipse-2 {
  left: 47px;
  background-color: #d9d9d9;
  position: absolute;
  width: 22px;
  height: 21px;
  top: 0;
  border-radius: 11px/10.5px;
}

.pet-information .buddy-photos {
  display: flex;
  width: 1056px;
  align-items: center;
  gap: 250px;
  position: absolute;
  top: 213px;
  left: 85px;
  overflow-x: scroll;
}

.pet-information .rectangle-2 {
  position: relative;
  width: 1056px;
  height: 589px;
}

.pet-information .overlap-group-wrapper {
  position: absolute;
  width: 370px;
  height: 92px;
  top: 72px;
  left: 427px;
}

.pet-information .overlap-7 {
  position: relative;
  width: 368px;
  height: 92px;
  background-color: #fee3c8;
  border-radius: 6px;
}

.pet-information .text-wrapper-16 {
  position: absolute;
  width: 290px;
  top: 22px;
  left: 50px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #595959e0;
  font-size: 40px;
  letter-spacing: 6px;
  line-height: normal;
}

.pet-information .member-button-wrapper {
  position: absolute;
  width: 228px;
  height: 66px;
  top: 2140px;
  left: 212px;
}

.pet-information .member-button {
  height: 66px;
}

.pet-information .overlap-group-3 {
  position: relative;
  width: 243px;
  height: 74px;
  top: -8px;
  left: -15px;
}

.pet-information .view-4 {
  position: absolute;
  width: 228px;
  height: 66px;
  top: 8px;
  left: 15px;
  background-color: #fee3c8;
  border-radius: 30px;
}

.pet-information .text-wrapper-17 {
  position: absolute;
  top: 20px;
  left: 100px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #595959e0;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3.15px;
  line-height: 45px;
  white-space: nowrap;
}

.pet-information .text-wrapper-17:hover {
  color: #FFFFFF;
}

.pet-information .overlap-8 {
  position: absolute;
  width: 1238px;
  height: 146px;
  top: 14px;
  left: 29px;
}

.pet-information .overlap-9 {
  position: absolute;
  width: 1238px;
  height: 142px;
  top: 0;
  left: 0;
}

.pet-information .line-3 {
  position: absolute;
  width: 870px;
  height: 94px;
  top: 23px;
  left: 368px;
}

.pet-information .AR-VR-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 1074px;
}

.pet-information .AR-VR-2 {
  position: absolute;
  width: 112px;
  height: 83px;
  top: 5px;
  left: 2px;
}

.pet-information .map-jpg {
  position: absolute;
  width: 84px;
  height: 84px;
  top: 24px;
  left: 723px;
}

.pet-information .donate-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 891px;
  overflow: hidden;
}

.pet-information .donate {
  position: absolute;
  width: 117px;
  height: 83px;
  top: 5px;
  left: -1px;
}

.pet-information .chat-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 523px;
}

.pet-information .chat {
  position: absolute;
  width: 105px;
  height: 75px;
  top: 9px;
  left: 5px;
}

.pet-information .vector-2 {
  position: absolute;
  width: 1px;
  height: 94px;
  top: 23px;
  left: 412px;
}

.pet-information .flexcontainer-i {
  top: 23px;
  left: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  width: 266px;
  height: 107px;
}

.pet-information .AR-VR-3 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 1096px;
}

.pet-information .view-5 {
  position: absolute;
  width: 51px;
  height: 29px;
  top: 117px;
  left: 931px;
}

.pet-information .text-wrapper-19 {
  position: absolute;
  width: 51px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #4c3c3ccc;
  font-size: 20px;
  letter-spacing: 1.6px;
  line-height: normal;
}

.pet-information .view-6 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 723px;
}

.pet-information .view-7 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 537px;
}

.pet-information .user-jpg {
  position: absolute;
  width: 83px;
  height: 93px;
  top: 37px;
  left: 1301px;
}

.pet-information .view-8 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 131px;
  left: 1301px;
}

a{
  text-decoration: none;
}

.pet-information .AR-VR-wrapper {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 408px;
  left: 1456px;
}
