/* screen - single-record */

.single-record {
  background-color: var(--provincial-pink);
  height: 2410px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.single-record .shape2-C61RwL {
  background-color: transparent;
  height: 681px;
  left: -370px;
  position: absolute;
  top: 1745px;
  width: 2290px;
}

.single-record .footer-C61RwL {
  background-color: transparent;
  height: 681px;
  left: -392px;
  position: absolute;
  top: 1732px;
  width: 2290px;
}

.single-record .copyright-2024-all-rights-reserved-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 824px;
  letter-spacing: 1.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 603px;
  white-space: nowrap;
  width: auto;
}

.single-record .rectangle-2-iPe1yZ {
  background-color: var(--white);
  border-radius: 20px;
  height: 78px;
  left: 492px;
  position: absolute;
  top: 442px;
  width: 533px;
}

.single-record .rekindlepetlovegmailcom-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 581px;
  letter-spacing: 2.24px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 462px;
  width: auto;
}

.single-record .mail-iPe1yZ {
  background-color: transparent;
  height: 47px;
  left: 516px;
  position: absolute;
  top: 457px;
  width: 47px;
}

.single-record .arvr-iPe1yZ {
  height: 44px;
  left: 1456px;
  top: 335px;
  width: 212px;
}

.single-record .arvr-AZ7xtO {
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
  width: 212px;
}

.single-record .view-iPe1yZ {
  height: 44px;
  left: 1456px;
  top: 262px;
  width: 212px;
}

.single-record .text_label-J1nZEN {
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
  width: 212px;
}

.single-record .quick-links-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 1419px;
  letter-spacing: 4.20px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 179px;
  width: 287px;
}

.single-record .view-CMvW9s {
  height: 44px;
  left: 1113px;
  top: 480px;
  width: 212px;
}

.single-record .text_label-9cbGt7 {
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
  width: 212px;
}

.single-record .view-edsI20 {
  height: 44px;
  left: 1112px;
  top: 407px;
  width: 212px;
}

.single-record .text_label-E9YCvI {
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
  width: 212px;
}

.single-record .x-iPe1yZ {
  height: 44px;
  left: 1087px;
  top: 335px;
}

.single-record .x-2XLZHx {
  height: auto;
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
}

.single-record .view-ur51bv {
  height: 44px;
  left: 1113px;
  top: 262px;
  width: 212px;
}

.single-record .text_label-b1wTVx {
  left: 0px;
  letter-spacing: 3.60px;
  line-height: 44px;
  text-align: center;
  top: -1px;
  width: 212px;
}

.single-record .services-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 1131px;
  letter-spacing: 4.20px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 179px;
  width: 175px;
}

.single-record .flex-container-i13476707181465-iPe1yZ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  left: 616px;
  position: absolute;
  top: 265px;
  width: 266px;
}

.single-record .text0-i13476707181465-0wGk5t {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.single-record .span0-MXs5Hu {
  letter-spacing: 1.10px;
}

.single-record .text1-i13476707181465-0wGk5t {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.single-record .span1-pgruxD {
  letter-spacing: 1.10px;
}

.single-record .logo-iPe1yZ {
  left: 492px;
  top: 230px;
}

.single-record .vector-6-iPe1yZ {
  background-color: transparent;
  height: 1px;
  left: 466px;
  position: absolute;
  top: 582px;
  width: 1242px;
}

.single-record .text_label-C61RwL {
  left: 600px;
  letter-spacing: 4.80px;
  line-height: normal;
  text-align: left;
  top: 241px;
  width: auto;
}

.single-record .rectangle-1-C61RwL {
  background-color: var(--soapstone);
  border: 3px solid;
  border-color: var(--gray-olive);
  border-radius: 20px;
  height: 1230px;
  left: 173px;
  position: absolute;
  top: 361px;
  width: 1098px;
}

.single-record .text_label-VMr6Om {
  left: 389px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 703px;
  width: 618px;
}

.single-record .text_label-mzXdH9 {
  left: 315px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 882px;
  width: 618px;
}

.single-record .text_label-QxM5SU {
  left: 315px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 615px;
  width: 618px;
}

.single-record .text_label-2P4qUJ {
  left: 651px;
  letter-spacing: 2.40px;
  line-height: normal;
  text-align: left;
  top: 553px;
  width: 618px;
}

.single-record .text_label-qr8e7q {
  left: 392px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 785px;
  width: 645px;
}

.single-record .text_label-J1YQmd {
  left: 389px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 1052px;
  width: 429px;
}

.single-record .text_label-a5WPlX {
  left: 390px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 1134px;
  width: 472px;
}

.single-record .text_label-HlKRTo {
  left: 390px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 1379px;
  white-space: nowrap;
  width: 665px;
}

.single-record .text_label-VkPPtx {
  left: 390px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 1460px;
  white-space: nowrap;
  width: 665px;
}

.single-record .text_label-YWzA7M {
  left: 390px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 1298px;
  white-space: nowrap;
  width: 665px;
}

.single-record .text_label-3kIbHG {
  left: 389px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 1216px;
  width: 745px;
}

.single-record .text_label-a73nmY {
  left: 390px;
  letter-spacing: 3.20px;
  line-height: normal;
  text-align: left;
  top: 970px;
  width: 213px;
}

.single-record .checked-1-1-C61RwL {
  background-color: transparent;
  height: 127px;
  left: 651px;
  object-fit: cover;
  position: absolute;
  top: 401px;
  width: 127px;
}

.single-record .nav-C61RwL {
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  backdrop-filter: blur(30px) brightness(100%);
  background-color: var(--provincial-pink);
  height: 181px;
  left: 2px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.single-record .line-Ebfosa {
  background-color: transparent;
  height: 94px;
  left: 397px;
  position: absolute;
  top: 37px;
  width: 870px;
}

.single-record .arvr_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 1103px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.single-record .arvr-Q1zyRh {
  height: 83px;
  left: 2px;
  top: 5px;
  width: 112px;
}

.single-record .map_jpg-Ebfosa {
  background-color: transparent;
  height: 84px;
  left: 752px;
  position: absolute;
  top: 38px;
  width: 84px;
}

.single-record .donate_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 920px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.single-record .donate-8f4v4t {
  background-color: transparent;
  height: 83px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 117px;
}

.single-record .chat_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 552px;
  overflow: hidden;
  position: absolute;
  top: 38px;
  width: 114px;
}

.single-record .chat-o1hCfn {
  background-color: transparent;
  height: 75px;
  left: 5px;
  position: absolute;
  top: 9px;
  width: 105px;
}

.single-record .user_jpg-Ebfosa {
  background-color: transparent;
  height: 93px;
  left: 1301px;
  position: absolute;
  top: 37px;
  width: 83px;
}

.single-record .view-Ebfosa {
  height: 27px;
  left: 1301px;
  top: 131px;
  width: 85px;
}

.single-record .text_label-5FtNQj {
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: -1px;
  width: 85px;
}

.single-record .arvr-Ebfosa {
  height: 27px;
  left: 1125px;
  top: 131px;
  width: 85px;
}

.single-record .arvr-tiYPVO {
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: -1px;
  width: 85px;
}

.single-record .view-aIywlF {
  height: 29px;
  left: 960px;
  top: 131px;
  width: 51px;
}

.single-record .text_label-LnE1b9 {
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: -1px;
  width: 51px;
}

.single-record .view-d56pal {
  height: 27px;
  left: 752px;
  top: 131px;
  width: 85px;
}

.single-record .text_label-bk7KDe {
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: -1px;
  width: 85px;
}

.single-record .view-dsQOMj {
  height: 27px;
  left: 566px;
  top: 131px;
  width: 85px;
}

.single-record .text_label-iHW8al {
  left: 0px;
  letter-spacing: 1.60px;
  line-height: normal;
  text-align: left;
  top: -1px;
  width: 85px;
}

.single-record .vector-1-Ebfosa {
  background-color: transparent;
  height: 94px;
  left: 441px;
  position: absolute;
  top: 37px;
  width: 1px;
}

.single-record .flex-container-i134767236129-Ebfosa {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  left: 144px;
  position: absolute;
  top: 37px;
  width: 266px;
}

.single-record .text0-i134767236129-1UrKPR {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.single-record .span0-xQkIyc {
  letter-spacing: 1.10px;
}

.single-record .text1-i134767236129-1UrKPR {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 3.15px;
  line-height: 45px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.single-record .span1-9jwhff {
  letter-spacing: 1.10px;
}

.single-record .logo-Ebfosa {
  left: 29px;
  top: 14px;
}

.single-record .logo {
  background-color: transparent;
  height: 142px;
  position: absolute;
  width: 157px;
}

.single-record .text_label {
  background-color: transparent;
  height: auto;
  position: absolute;
}

.single-record .view {
  background-color: transparent;
  position: absolute;
}

.single-record .x {
  background-color: transparent;
  position: absolute;
  width: 265px;
}
