.frame {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .group-wrapper {
  width: 1440px;
  height: 1024px;
}

.frame .group {
  height: 1024px;
}

.frame .overlap {
  position: relative;
  width: 1440px;
  height: 1024px;
}

.frame .view {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 1024px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 75px 117px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fdf3e9;
}

.frame .div {
  position: relative;
  width: 1178px;
  height: 661px;
  background-color: #ffffff;
  border-radius: 15px;
}

.frame .dog-breeding {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 45px;
  left: 552px;
}

.frame .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  position: absolute;
  top: 167px;
  left: 492px;
  background-color: #ffca96;
  border-radius: 20px;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poiret One-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  letter-spacing: 5.25px;
  line-height: normal;
  white-space: nowrap;
}

.frame .overlap-group {
  position: absolute;
  width: 171px;
  height: 40px;
  top: 71px;
  left: 80px;
  background-image: url(./img/rectangle-39.svg);
  background-size: 100% 100%;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 7px;
  left: 18px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Poiret One-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: normal;
  white-space: nowrap;
}

.frame .people-checkmark {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 69px;
  left: 34px;
}

.frame .line {
  position: absolute;
  width: 1198px;
  height: 26px;
  top: 285px;
  left: -10px;
}

.frame .img {
  position: absolute;
  width: 1178px;
  height: 4px;
  top: 434px;
  left: -2px;
  object-fit: cover;
}

.frame .group-2 {
  position: absolute;
  width: 963px;
  height: 45px;
  top: 350px;
  left: 76px;
}

.frame .text-wrapper-3 {
  position: absolute;
  top: 2px;
  left: 103px;
  font-family: "Poiret One-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  letter-spacing: 5.25px;
  line-height: normal;
  white-space: nowrap;
}

.frame .img-2 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  left: 0;
}

.frame .IOS-arrow-RTL {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 5px;
  left: 926px;
}

.frame .group-3 {
  position: absolute;
  width: 963px;
  height: 45px;
  top: 476px;
  left: 76px;
}

.frame .text-wrapper-4 {
  position: absolute;
  top: 4px;
  left: 104px;
  font-family: "Poiret One-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  letter-spacing: 5.25px;
  line-height: normal;
  white-space: nowrap;
}

.frame .IOS-arrow-RTL-2 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 7px;
  left: 926px;
}

.frame .nav {
  position: absolute;
  width: 1440px;
  height: 181px;
  top: 0;
  left: 0;
  background-color: #fff7f0;
}

.frame .overlap-2 {
  position: absolute;
  width: 1238px;
  height: 146px;
  top: 14px;
  left: 29px;
}

.frame .overlap-3 {
  position: absolute;
  width: 1238px;
  height: 142px;
  top: 0;
  left: 0;
}

.frame .line-2 {
  position: absolute;
  width: 870px;
  height: 94px;
  top: 23px;
  left: 368px;
}

.frame .AR-VR-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 1074px;
}

.frame .AR-VR {
  position: absolute;
  width: 112px;
  height: 83px;
  top: 5px;
  left: 2px;
}

.frame .map-jpg {
  position: absolute;
  width: 84px;
  height: 84px;
  top: 24px;
  left: 723px;
}

.frame .donate-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 891px;
}

.frame .donate {
  position: absolute;
  width: 114px;
  height: 83px;
  top: 5px;
  left: 0;
}

.frame .chat-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 523px;
}

.frame .chat {
  position: absolute;
  width: 105px;
  height: 75px;
  top: 9px;
  left: 5px;
}

.frame .vector {
  position: absolute;
  width: 1px;
  height: 94px;
  top: 23px;
  left: 412px;
}

.frame .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  width: 266px;
  height: 107px;
  top: 23px;
  left: 115px;
}

.frame .text-i {
  position: relative;
  align-self: stretch;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #4c3c3c;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3.15px;
  line-height: 45px;
}

.frame .span {
  letter-spacing: 1.1px;
}

.frame .logo {
  position: absolute;
  width: 157px;
  height: 142px;
  top: 0;
  left: 0;
}

.frame .AR-VR-2 {
  height: 27px;
  top: 117px;
  left: 1096px;
  position: absolute;
  width: 85px;
}

.frame .text-wrapper-5 {
  top: -1px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #4c3c3ccc;
  font-size: 20px;
  letter-spacing: 1.6px;
  line-height: normal;
  position: absolute;
  width: 85px;
}

.frame .view-2 {
  position: absolute;
  width: 51px;
  height: 29px;
  top: 117px;
  left: 931px;
}

.frame .text-wrapper-6 {
  position: absolute;
  width: 51px;
  top: -1px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #4c3c3ccc;
  font-size: 20px;
  letter-spacing: 1.6px;
  line-height: normal;
}

.frame .view-3 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 723px;
}

.frame .view-4 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 537px;
}

.frame .user-jpg {
  position: absolute;
  width: 83px;
  height: 93px;
  top: 37px;
  left: 1301px;
}

.frame .view-5 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 131px;
  left: 1301px;
}
